.common-btn {
  .mat-raised-button,
  .mat-stroked-button {
    min-width: 90px;
    max-height: 30px;
  }
}
::ng-deep {
  .mat-raised-button,
  .mat-stroked-button {
    line-height: 30px;
  }
}

.btn-raised {
  .primary {
    button {
      background-color: #2a7de1;
      color: #ffffff;
    }
  }
  .accent {
    button {
      background-color: #efefef;
      color: #54585a;
    }
  }

  .disabled {
    button {
      background-color: #54585a;
      color: #ffffff;
      cursor: no-drop;
    }
  }
}

.btn-stroked {
  .primary {
    button {
      border: 1px solid #2a7de1;
      color: #2a7de1;
    }
  }
  .accent {
    button {
      border: 1px solid #54585a;
      color: #54585a;
    }
  }
}

.btn-icon {
  .primary {
    button {
      background-color: #2a7de1;
      color: #ffffff;
    }
  }
  .accent {
    button {
      background-color: #ffffff;
      color: #2a7de1;
    }
  }
}

.btn-icon-toggle {
  .primary {
    button {
      background-color: transparent;
      color: #2a7de1;
      box-shadow: none;
    }
    button.active {
      background-color: #c1c1c1;
      color: #ffffff;
    }
  }
  .accent {
    button {
      background-color: #efefef;
      color: #54585a;
    }
  }
}
