@import "../global.scss";


.operation-button-box{
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  
  
  div{
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    background-color: $main-blue;
    color: #ffffff;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.15);
    border-radius: 2px;
  }

  div.partial-blue-btn{
    background-color: #ffffff;
    color: $main-blue;
    display: flex;
    padding: 0 10px 0 0;
    justify-content: flex-start;
  }
  div.partial-blue-btn span{
    display: block;
    height: 100%;
    width: 30px;
    background-color: $main-blue;
    margin-right: 10px;
  }
  div.full-dark-btn{
    background-color: #686868;
  }
}