<div class="operation-button-box">
  <div class="full-blue-btn" (click)="onInsertNewSection()">Section Title</div>
  <div class="partial-blue-btn" draggable="true" (dragstart)="onDragStart($event)">
    <span></span>
    Read
  </div>
  <div class="partial-blue-btn">
    <span></span>
    Type
  </div>
  <div class="partial-blue-btn" appDraggable>
    <span></span>
    UI Interaction
  </div>
  <div class="partial-blue-btn">
    <span></span>
    Calculation
  </div>
  <div class="full-dark-btn">Condition</div>
</div>