<div class="operation-button-box">
  <div
    class="partial-blue-btn tausy-read-step-button"
    appDraggable
    data-buttontype="Read"
    title="Read"
  >
    <span class="icon-align"
      ><img alt="read" src="../../../../assets/pics/Read.svg"
    /></span>
    Read
  </div>
  <div
    class="partial-blue-btn tausy-type-step-button"
    appDraggable
    data-buttontype="Type"
    title="Type"
  >
    <span class="icon-align"
      ><img alt="read" src="../../../../assets/pics/Type.svg"
    /></span>
    Type
  </div>
  <div
    class="partial-blue-btn tausy-ui-interaction-step-button"
    appDraggable
    data-buttontype="ui-interaction"
    title="UI Interaction"
  >
    <span class="icon-align"
      ><img alt="read" src="../../../../assets/pics/UI_interaction.svg"
    /></span>
    UI Interaction
  </div>
  <div
    class="partial-blue-btn tausy-calculation-step-button"
    appDraggable
    data-buttontype="calculation"
    title="Calculation"
  >
    <span class="icon-align"
      ><img alt="read" src="../../../../assets/pics/Calculate.svg"
    /></span>
    Calculation
  </div>
  <ng-container *ngIf="isStartLoopDisplayed; else displayEndLoop">
    <div
      class="full-blue-btn tausy-start-loop-step-button"
      appDraggable
      data-buttontype="start-loop"
      title="Loop"
    >
      Loop
    </div>
  </ng-container>
  <ng-template #displayEndLoop>
    <div
      class="full-red-btn tausy-end-loop-step-button"
      appDraggable
      data-buttontype="end-loop"
      title="End Loop"
    >
      End Loop
    </div>
  </ng-template>
</div>
