<div class="container">
    <div class="add-screen">
      <span><input type="text" placeholder="Application name" [(ngModel)]="headerPayload.applicationName"></span>
      <span><input type="text" placeholder="Screen name" [(ngModel)]="headerPayload.screenName"></span>
      <span><input type="text" placeholder="Tab name" [(ngModel)]="headerPayload.tabName"></span>
    </div>
      
    <div class="add-screen">
      <span class="abs-right-40">Total Steps</span>
      <span class="abs-right-20">
        <button [matMenuTriggerFor]="menu" class="btn btn-main-blue">ADD NEW STEP</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let task of tasks" (click)="onSelect(task)">{{task}}</button>
        </mat-menu>
      </span>
    </div>
    <div class="divider"></div>
</div>

