.modal {
  width: 650px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba($color: #000000, $alpha: 0.3);
  position: relative;

  .close-all {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #999999;
    cursor: pointer;
    z-index: 10000;
  }
}

.grid-list-current-sprint {
  background-color: #dde5ed;
}
.modal-body {
  height: 350px;
  overflow: auto;
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}
.modal-side-padding {
  padding: 20px 0;
}
.delete {
  color: #2a7de1;
  cursor: pointer;
}
.row {
  position: relative;
  width: 100%;
  height: 100%;
  button {
    height: 30px;
    margin: 10px;
    border: 1px solid #2a7de1;
    background-color: transparent;
    color: #2a7de1;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 15px;
    position: absolute;
    left: 20px;
  }
}
.modal-footer {
  width: 100%;
  text-align: center;

  button {
    width: 90px;
  }
  button:first-child {
    margin-right: 20px;
  }
}
.footer-position {
  position: fixed;
  bottom: 35px;
}

.date-picker {
  position: absolute;
  top: -5px;
  left: -5px;
}
.heading {
  font-size: 14px;
  color: #999999;
  width: 100%;
  text-align: left;
  padding-left: 5px;
}

.highlight {
  font-size: 14px;
  color: black;
  width: 100%;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}

.p-relative {
  position: relative;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #999999;
  padding-left: 5px;
}
input[type="text"].extra-padding {
  padding-left: 25px;
}
.add-btn {
  padding-left: 20px;
}
input[type="text"].warning,
input[type="number"].warning {
  border: 1px solid #f47074 !important;
}
.validation-message {
  color: rgb(245, 117, 117);
}

form.submitted {
  input.ng-invalid {
    border: 2px solid #f47074;
  }
}

// new style

.tab-content {
  display: flex;
  flex-direction: column;
  height: 400px;
}
.modal-controls {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem;
}
