<div class="input-box">
  <label [for]="label"
    >{{ label }}
    <span class="ng-required" *ngIf="required">*</span>
  </label>
  <input
    [type]="type"
    [placeholder]="placeholder ? placeholder : ''"
    [disabled]="disabled ? disabled : false"
    [id]="label ? label : ''"
    [readonly]="readonly"
    [value]="inputViewLabel"
    (keyup)="onInputChange($event.target.value)"
    autocomplete="off"
    #autocomplete
  />
  <div style="position: relative">
    <div
      class="autocomplete-wrapper auto-complete-dropdown"
      *ngIf="autocompleteOptions.length"
      #autocompleteDropdown
    >
      <div
        *ngFor="let autocompleteOption of autocompleteOptions"
        class="auto-complete-item"
        (click)="onValueChange(autocompleteOption.value)"
      >
        <span>{{ autocompleteOption.label }}</span>
        <span
          *ngIf="autocompleteOption.description"
          class="autocomplete-item-desc"
        >
          {{ autocompleteOption.description }}
        </span>
      </div>
    </div>
  </div>
</div>
