<div class="select">
  <div>
    <input 
    [ngClass]="{
      'input-active':selected.color==='transparent'?'':selected.color, 
      'input-active':defaultOption==='Select' || defaultOption==='Unassigned' ? false : true
    }" 
    [ngStyle]="{
      'color': selected.color==='transparent'?'#000':selected.color,
      'color':defaultOption==='Select' || defaultOption==='Unassigned' ? '#000' : selectedColor
    }" 
    type="text" [placeholder]="'placeholder'" readonly [value]="value?value.status:defaultOption">
  </div>
  <div class="ball" 
  [ngStyle]="{
    'background-color': selected?selected.color:'',
    'background-color': selectedColor
  }"></div>
  <span class="down-caret" (click)="onOpen()"><i class="fas fa-angle-down"></i></span>
  <div *ngIf="isOpen && options" class="select-dropdown">
    
    <span *ngFor="let option of options" (click)="onSelect($event, option)" [ngStyle]="{'color': option.color==='transparent'?'#000':option.color}">
      <span class="ball" [ngStyle]="{'background-color': option.color}" *ngIf="option.color!='transparent'"></span>
      {{option.status}}
    </span>
  </div>
  <div *ngIf="isOpen" class="overlay custom-overlay" (click)="onOpen()"></div>
</div>