<!-- Card design starts here -->
<!-- code for blank card starts here -->
<div class="container" id="1"  *ngIf="localData.id==1; else newCard">
<a class="new-sop" (click)="onCreateSOP()">
  <span>
    <i class="far fa-plus-square"></i>
  </span>
  {{createSOP}}
</a>
</div>
<!-- code for blank card ends here -->
<!-- code for existing card starts here -->
<ng-template #newCard>
  <div class="header" [id]="localData ? localData.id : ''">
      <mat-toolbar [style.background-color]="localData ? localData.themeColor : ''">
        <div class="logo" *ngIf="localData">
          <img [src]="localData.logo" [alt]="localData ? localData.title : ''">
        </div>
        <span class="title">{{ localData ? localData.title : ''}}</span>
        <span class="edit" (click)="onEdit(localData)"><i class="fas fa-pen"></i></span>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <div class="codes">
        <h1 [style.color]="localData ? localData.themeColor : ''">{{ localData ? localData.reasonCodes : ''}}</h1>
        <p [style.color]="localData ? localData.themeColor : ''">Reason codes</p>
      </div>
      <div class="assigne">
        <p>Assignee's</p>
        <!-- display only 3 profiles from the profile image holder array => localData.image -->
        <div class="aname" *ngIf="localData">
          <ng-container *ngFor="let imageURL of localData.assigneeList; let i=index;">
            <img class="image-profile-pic" [src]="imageURL[0]" [alt]="imageURL[0]" *ngIf="i<3">
          </ng-container>
          <span *ngIf="localData.assigneeList.length>3; else lessThan">+{{localData.assigneeList.length-3}}</span>
          <ng-template #lessThan>
            <span></span>
          </ng-template>
        </div>

      </div>
      <mat-divider></mat-divider>
      <div class="footer">
        <span><i class="far fa-calendar-alt"></i></span>
        <span>Due Date</span><span>{{ localData ? localData.dueDate : ''}}</span>
      </div>
  </div>
</ng-template>
<!-- code for existing card ends here -->
