<!-- Card design starts here -->
<!-- code for blank card starts here -->
<div class="container" id="0"  *ngIf="localData.id===0">
  <a class="new-sop" (click)="onCreateSOP()">
    <span>
      <i class="far fa-plus-square"></i>
    </span>
    {{createSOP}}
  </a>
</div>


<!-- code for existing card starts here -->
<div class="container" *ngIf="localData.id != 0">
  <div
  [routerLink]="['/projects/add-steps', localData.id]" 
  class="header" 
  [id]="localData ? localData.id : ''"
  >
      <mat-toolbar [style.background-color]="localData ? localData.themeColor : ''">
        <div class="logo" *ngIf="localData" [ngStyle]="{'background-image': 'url(' + localData.logo + ')'}"></div>
        <span class="title">{{ localData ? localData.clientName : ''}}<span class="automation-system-name">{{ localData ? localData.title : ''}}</span></span>

        <span class="edit" (click)="onPrevent($event)">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onEdit($event, localData)">
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="onDelete(localData)">
              <span>Delete</span>
            </button>
          </mat-menu>
        </span>

      </mat-toolbar>
      <mat-divider></mat-divider>
      <div class="codes">
        <h1 [style.color]="localData ? localData.themeColor : ''">{{ localData ? 0 : '0'}}</h1>
        <p [style.color]="localData ? localData.themeColor : ''">Reason codes</p>
      </div>
      <div class="assigne">
        <p>Assignee's</p>
        <!-- display only 3 profiles from the profile image holder array => localData.image -->

        <div class="aname" *ngIf="localData.assigneeList">
          <ng-container *ngFor="let imageURL of localData.assigneeList; let i=index;">
            <img class="image-profile-pic" [src]="imageURL.image" [alt]="imageURL.assignTo" *ngIf="i<3">
          </ng-container>
          <span *ngIf="localData.assigneeList.length>3; else lessThan">+{{localData.assigneeList.length-3}}</span>
          <ng-template #lessThan>
            <span></span>
          </ng-template>
        </div>

      </div>
      <mat-divider></mat-divider>
      <div class="footer">
        <span><i class="far fa-calendar-alt"></i></span>
        <span>Due Date</span><span>{{ localData ? localData.due_date : ''}}</span>
      </div>
  </div>
</div>

