<div class="step-banner">
  <div class="step-header">
    <div class="left-controls">
      <div class="step-icon">
        <img alt="read" src="../../../../../assets/pics/Calculate.svg" />
      </div>
      <div class="icon-type">
        Calc
      </div>
      <div class="step-number">
        Step No. <span>{{ getStepNumber() }}</span>
      </div>
      <div class="screen-name">
        <span>Screen</span>
        <div class="select">
          <mat-select
            [(value)]="data.screen"
            placeholder="None"
            [disabled]="!canEdit"
          >
            <mat-option [value]="null">None</mat-option>
            <mat-option
              [value]="screen.screenId"
              *ngFor="let screen of screenList"
              >{{ screen.screenName }}</mat-option
            >
          </mat-select>
        </div>
      </div>
    </div>

    <ng-container *ngIf="canEdit; else edit">
      <div class="right-controls">
        <div class="ctrl-btn step-edit color-green" (click)="onClickOnOk()">
          <i class="fas fa-check"></i>
        </div>
        <div
          class="ctrl-btn step-delete color-light-red"
          (click)="onCancelEdit()"
        >
          <i class="fas fa-times"></i>
        </div>
      </div>
    </ng-container>
    <ng-template #edit>
      <div class="right-controls">
        <div class="ctrl-btn step-attach" (click)="onAttachIconClick($event)">
          <ng-container *ngIf="stepData.attachment_name; else noAttachment">
            <img src="../../../../../assets/pics/attachment.svg" />
          </ng-container>
          <ng-template #noAttachment>
            <img src="../../../../../assets/pics/no_attachment.svg" />
          </ng-template>
          <div class="step-tooltip">
            <app-tooltip
              [toolTipContent]="stepData.attachment_name"
              (toolTipDownload)="onAttachmentDownload($event)"
              (toolTipDelete)="onAttachmentDelete()"
            ></app-tooltip>
          </div>
        </div>
        <div class="ctrl-btn step-edit" (click)="onClikedOnEdit()">
          <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="ctrl-btn step-delete" (click)="onDeleteStep()">
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="step-body">
    <div class="form">
      <div class="form-group">
        <div class="form-sub-group full-width">
          <ng-container *ngIf="canEdit; else editField">
            <textarea
              name=""
              id=""
              placeholder="Enter formula or equations or expressions"
              [(ngModel)]="data.calc_value"
              maxlength="200"
            ></textarea>
          </ng-container>
          <ng-template #editField>
            <span>{{ data.calc_value }}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
