<div class="step-banner">
  <div class="step-header">
    <div class="left-controls">
      <div class="step-icon">
        <i class="fas fa-book-reader"></i>
      </div>
      <div class="icon-type">
        Calculation
      </div>
      <div class="step-number">
        Step No. <span>1.2.2</span>
      </div>
      <div class="screen-name">
        <span>Screen</span>
        <div class="select">
          <mat-select [(value)]="selected" placeholder="None">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <ng-container *ngIf="canEdit; else edit">
      <div class="right-controls">
        <div class="step-edit color-green" (click)="onClikedOnEdit()">
          <i class="fas fa-check"></i>
        </div>
        <div class="step-delete color-light-red">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </ng-container>
    <ng-template #edit>
      <div class="right-controls">
        <div class="step-edit" (click)="onClickOnOk()">
          <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="step-delete">
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
    </ng-template>

  </div>
  <div class="step-body">
    <div class="form">
      <div class="form-group">
        <div class="form-sub-group full-width">
          <ng-container *ngIf="canEdit; else editField">
            <textarea name="" id=""></textarea>
          </ng-container>
          <ng-template #editField>
            <span>Lorem ipsum dolor</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>