<div [formGroup]="inviteUserForm" [ngClass]="{ submitted: submitted }">
  <div class="input-box margin-top-10 horizontal-flex">
    <div class="invite-user-through-email">
      <input
        type="text"
        id="inviteEmail"
        placeholder="Email Address"
        formControlName="email"
      />
    </div>
    <div class="select-role-invite">
      <mat-select placeholder="Assign role" formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="input-box margin-top-10 horizontal-flex">
    <div class="first-name">
      <input
        type="text"
        id="first_name"
        placeholder="First Name"
        formControlName="firstName"
      />
    </div>
    <div class="last-name">
      <input
        type="text"
        id="last_name"
        placeholder="Last Name"
        formControlName="lastName"
      />
    </div>
  </div>
</div>
