.select-role-invite {
  width: 180px;
  background-color: #fff;
  min-height: 30px;
  border: 1px solid #d1d1d1;
  line-height: 30px;
}
.select-role-invite mat-select {
  padding: 0 5px;
}
.send-invite {
  margin-left: 160px;
  width: 160px;
}
.first-name {
  width: 215px;
}
.last-name {
  width: 215px;
}

.submitted {
  .ng-invalid {
    border: 1px solid red !important;
  }
}
