.container{
  padding: 20px;
  padding-top: 0;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar{
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #ECECEC; 
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(54, 54, 54); 
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}
.header{
  width: 100%;
  padding: 20px;
  // height: 30px;
  overflow: hidden;
  // background-color: red;
  padding-bottom: 0;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;

    li{
      display: block;
      width: 126px;
      height: 30px;
      border: 1px solid #D8D8D8;
      background-color: #ffffff;
      color: #54585A;
      text-align: center;
      line-height: 30px;
      position: relative;
      border-radius: 2px;
      cursor: pointer;

      span{
        display: block;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .active{
      background-color: #54585A;
      color: #ffffff;

      span{
        color: #ffffff;
      }
    }
  }
}