<div class="loop-box">
  <div class="loop-box-name">Start Loop</div>
  <div class="loop-box-options">
    <span (click)="onDisplayOptions()"
      ><i class="fas fa-ellipsis-h tausy-start-loop-step-ellipsis"></i
    ></span>
  </div>
  <div class="comment-box" *ngIf="displayDialogBox">
    <div class="text-area">
      <label for="comments">Comments</label>
      <ng-container *ngIf="canEdit; else displaySpan">
        <textarea
          name=""
          id="comments"
          class="textarea tausy-start-loop-step-loop-params"
          placeholder="Loop params"
          [(ngModel)]="data.loop_parameters"
        ></textarea>
      </ng-container>
      <ng-template #displaySpan>
        <span class="tausy-start-loop-step-card-loop-params">{{
          data.loop_parameters
        }}</span>
      </ng-template>
    </div>
    <div class="controls-btn-group">
      <ng-container *ngIf="canEdit; else edit">
        <div
          class="check-btn tausy-start-loop-step-check-button"
          (click)="onClickOnOk()"
        >
          <i class="fas fa-check"></i>
        </div>
        <div class="uncheck-btn" (click)="onCancelEdit()">
          <i class="fas fa-times"></i>
        </div>
      </ng-container>
      <ng-template #edit>
        <div class="edit-btn" (click)="onClikedOnEdit()">
          <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="delete-btn tausy-step-delete" (click)="onDeleteStep()">
          <i class="far fa-trash-alt"></i>
        </div>
      </ng-template>
    </div>
  </div>
</div>
