<div class="buttons-menu">
  <button (click)="onOpenMediaPane('media')" class="menu-buttons">
    <img src="../../../../assets/pics/media-icon.svg" alt="mediapane">
    <small>Media</small>
  </button>
<!-- 
  <button (click)="onOpenMediaPane('media')" class="menu-buttons">
      <img src="../../../../assets/pics/media-icon.svg" alt="mediapane">
      <small>Media</small>
    </button>

    <button (click)="onOpenMediaPane('media')" class="menu-buttons">
        <img src="../../../../assets/pics/media-icon.svg" alt="mediapane">
        <small>Media</small>
      </button> -->
</div>