<div class="sidebar-body">
  <div class="close-btn" (click)="onCloseSideBar()">
    <i class="fas fa-times"></i>
  </div>
  <div class="tab-group">
    <mat-tab-group selectedIndex="0" (selectedTabChange)="onTabChange($event.index)">
      <mat-tab label="Videos">
        <div class="tab">
          <div class="video-player">
            <video #videoPlayer (timeupdate)="onTimeUpdate($event)" [src]="playThisVideo" crossOrigin="Anonymous">
              <!-- <source src="../../../../assets/pics/video-test.mp4" type="video/mp4"> -->
              <!-- <source [src]="playThisVideo" type="video/mp4"> -->
              Your browser does not support HTML5 video.
            </video>
            <div class="controls" *ngIf="true">
              <div class="slider">
                <progress-bar [progressChange]="progress" (changeCurrentTime)="onChangeCurrentTime($event)" [buffer]="buffered"></progress-bar>
              </div>
              <div class="player-start-buttons">
                <span class="video-length">
                  {{currentTime}} / {{duration}}
                </span>
              </div>
              <div class="player-center-buttons">
                <div class="rewind" (click)="onRewind()"><i class="fas fa-backward"></i></div>
                <div class="play-pause" (click)="onPlayPause()">
                  <i class="fas fa-play" *ngIf="!isPlaying; else pause"></i>
                  <ng-template #pause>
                    <i class="fas fa-pause"></i>
                  </ng-template>
                </div>
                <div class="forward" (click)="onFastForward()"><i class="fas fa-forward"></i></div>
              </div>
              <div class="player-right-buttons">

                <div class="volume-controls">
                  <div class="volume-btn" (click)="onVolumeControl()">
                    <i class="fas fa-volume-up" *ngIf="!isMuted; else muted"></i>
                    <ng-template #muted>
                      <i class="fas fa-volume-off"></i>
                    </ng-template>
                  </div>
                  <div class="volume-slider">
                    <input class="volume-slider-handle" type="range" name="vol" id="volume" min="0" max="100" #volumeController (change)="onDragVolumeHandle(volumeController.value)">
                  </div>
                </div>
                <div class="snapshot" (click)="onTakeSnapshot()">
                  <i class="fas fa-camera"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="application-name">
            <!-- <a [download]="createdImage" [href]="createdImage">Download here</a> -->
            <span>{{videoName}}</span>
          </div>
          <div class="video-gellery">
            <app-gallery [data]="videoGalleryContent" [type]="'VIDEO'" (optionSelected)="onSelectedVideo($event)" (addNewFile)="onVideoUpload($event)" (deleteContent)="onDeleteVideo($event)"></app-gallery>
          </div>
        </div>
      </mat-tab>


      <mat-tab label="Images">
        <div class="tab">
          <div class="slide-show">
            <app-carousel [data]="imageGalleryContent" [currentImage]="currentImage"></app-carousel>
            <div class="carousel-position carousel-left" (click)="onCarouselMoveRight()">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="carousel-position carousel-right" (click)="onCarouselMoveLeft()">
              <i class="fas fa-chevron-right"></i>
            </div>
            <div class="carousel-overlay">
              Export To SOP
            </div>
          </div>
          <div class="application-name">
            <span></span>
          </div>
          <div class="video-gellery">
            <app-gallery [data]="imageGalleryContent" [type]="'IMAGE'" (optionSelected)="onselectRequestedThumbnail($event)" (addNewFile)="onImageUpload($event)" (deleteContent)="onDeleteImage($event)"></app-gallery>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="upload-progress" *ngIf="uploadProgress">
  <span>{{uploadProgressText}}</span>
  <div class="progress">
    <mat-progress-bar mode="determinate" [value]="uploadProgressPercentage"></mat-progress-bar>
  </div>
  <div class="upload-cancel" (click)="onCancelVideoUpload()">
    Cancel
  </div>
</div>

<canvas id="snapshot-holder" #canvas crossOrigin="Anonymous"></canvas>