<nav class="navbar">
  <div class="brand tausy-storyboard-header" routerLink="/projects">
    Storyboard
  </div>

  <div class="profile">
    <div class="profile__name">{{ userName }}</div>

    <div class="profile__pic">
      <img src="../../../assets/pics/default.jpg" [alt]="" />
    </div>

    <div class="arrow-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="fas fa-angle-down tausy-user-dropdown-options"></i>
      </button>
      <mat-menu #menu="matMenu">
        <a
          class="tausy-user-logout"
          mat-menu-item
          href="{{ __api.apiUrl }}/logoutUser"
          (click)="onLogout()"
        >
          Logout
        </a>
      </mat-menu>
    </div>
  </div>
  <ng-container *ngIf="_header.loading">
    <div class="page-loading-progress-bar">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>
</nav>
