.navbar{
    display: block;
    width: 100%;
    height: 3.4375rem;
    position: fixed;
    margin-bottom: 0; 
    background-color: #0339A6;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    z-index: 100;
}
.brand{
    display: inline-block;
    height: 4rem;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 30px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
}
.profile{
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    color: #fff;
    font-size: 15px;

    &__name{
      padding-right: 10px;
      display: block;
      width: 200px;
      height: 100%;
      line-height: 3.4375rem;
      text-align: right;
  }
    &__pic{
      color: #fff;
      width: 35px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 68px;
  }
    &__pic img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  span.arrow-menu{
    position: absolute;
    right: 20px;
    top: 0;
    display: block;
    line-height: 3.4375rem;
  }
}
