<nav class="navbar">
  <div class="brand" routerLink="/projects">Storyboard</div>

  

  <div class="profile">

    <span class="profile__name">{{'userName'}}</span>

    <span class="profile__pic">
      <img src="../../../assets/pics/default.jpg" [alt]="">
    </span>

    <span class="arrow-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="fas fa-angle-down"></i>  
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item  href="{{__api.apiUrl}}/logoutUser" (click)="onLogout()">
          Logout
        </a>
      </mat-menu>
    </span>

  </div>
</nav>
<!-- [@rotatedState]='state' -->