<div class="steps-container" [ngSwitch]="stepData.type">
  <ng-container *ngSwitchCase="'read'">
    <app-step-read
      [stepData]="stepData"
      [stepIndex]="stepIndex"
      [sectionIndex]="sectionIndex"
      (deleteStep)="onDeleteStep($event)"
      (outputChange)="onOutputChange($event)"
      [sectionId]="sectionId"
    ></app-step-read>
  </ng-container>
  <ng-container *ngSwitchCase="'type'">
    <app-step-type
      [stepData]="stepData"
      [stepIndex]="stepIndex"
      [sectionIndex]="sectionIndex"
      (deleteStep)="onDeleteStep($event)"
      (outputChange)="onOutputChange($event)"
      [sectionId]="sectionId"
    ></app-step-type>
  </ng-container>
  <ng-container *ngSwitchCase="'calculation'">
    <app-step-calculation
      [stepData]="stepData"
      [stepIndex]="stepIndex"
      [sectionIndex]="sectionIndex"
      (deleteStep)="onDeleteStep($event)"
      (outputChange)="onOutputChange($event)"
      [sectionId]="sectionId"
    ></app-step-calculation>
  </ng-container>
  <ng-container *ngSwitchCase="'ui-interaction'">
    <app-step-ui-interaction
      [stepData]="stepData"
      [stepIndex]="stepIndex"
      [sectionIndex]="sectionIndex"
      (deleteStep)="onDeleteStep($event)"
      (outputChange)="onOutputChange($event)"
      [sectionId]="sectionId"
    ></app-step-ui-interaction>
  </ng-container>
  <ng-container *ngSwitchCase="'condition'">
    <app-step-condition
      [stepData]="stepData"
      [stepIndex]="stepIndex"
      [sectionIndex]="sectionIndex"
      (deleteStep)="onDeleteStep($event)"
      (outputChange)="onOutputChange($event)"
      [sectionId]="sectionId"
    ></app-step-condition>
  </ng-container>
  <ng-container *ngSwitchCase="'start-loop'">
    <app-step-loop
      [stepData]="stepData"
      [stepIndex]="stepIndex"
      [sectionIndex]="sectionIndex"
      (deleteStep)="onDeleteStep($event)"
      (outputChange)="onOutputChange($event)"
      [sectionId]="sectionId"
    ></app-step-loop>
  </ng-container>
  <ng-container *ngSwitchCase="'end-loop'">
    <app-step-end-loop
      [stepData]="stepData"
      [stepIndex]="stepIndex"
      [sectionIndex]="sectionIndex"
      (deleteStep)="onDeleteStep($event)"
      (outputChange)="onOutputChange($event)"
      [sectionId]="sectionId"
    ></app-step-end-loop>
  </ng-container>
</div>
