<div class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="left-panel-display">
  <app-canvas-crousel></app-canvas-crousel>
</div>
<div class="small-card">
  <div class="small-card-segments">
    <div class="small-card-heading">
      Application name
    </div>
    <div class="small-card-content">
      Lorem ipsum dolor
    </div>
  </div>
  <div class="small-card-segments">
    <div class="small-card-heading">
      Application name
    </div>
    <div class="small-card-content">
      Lorem ipsum dolor
    </div>
  </div>
  <div class="small-card-segments">
    <div class="small-card-heading">
      Application name
    </div>
    <div class="small-card-content">
      Lorem ipsum dolor
    </div>
  </div>
</div>
