<div class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
</div>
<div class="left-panel-display">
  <div class="slide-show">
  <app-canvas-crousel [data]="imageGalleryContent" [currentImage]="currentImage"></app-canvas-crousel>
    <div class="carousel-position carousel-up" (click)="onCarouselMoveUp()">
      <i class="fas fa-chevron-up"></i>
    </div>
    <div class="carousel-position carousel-down" (click)="onCarouselMoveDown()">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
</div>
<div class="posters">
  <div class="poster-segments">
    <div class="poster-heding">
      Application name
    </div>
    <div class="poster-content">
      Lorem ipsum dolor
    </div>
  </div>
  <div class="poster-segments">
    <div class="poster-heding">
      Application name
    </div>
    <div class="poster-content">
      Lorem ipsum dolor
    </div>
  </div>
  <div class="poster-segments">
    <div class="poster-heding">
      Application name
    </div>
    <div class="poster-content">
      Lorem ipsum dolor
    </div>
  </div>
</div>
