<!-- structure for the auth component goes here -->
<div class="background-overlay">
  <div class="login-box">
    <div class="auth">
      <div class="logo"></div>
      <span>Storyboard</span>
      <p>Inspiring/Motivational message lorem ipsum, dev eduva froevere</p>
      <!-- <button class="button button--login" (click)="initiateLogin($event)"><i class="fab fa-windows"></i> Sign in with Microsoft account</button> -->
      <a class="button button--login" href="{{baseUrl}}/login_ms"><i class="fab fa-windows"></i> Sign in with Microsoft account</a>
    </div>
  </div>
</div>
