<!-- structure for the auth component goes here -->
<div class="background-overlay">
  <div class="login-box">
    <div class="auth">
      <div class="logo"></div>
      <div class="app-name">Storyboard</div>
      <div [ngSwitch]="loginSection">
        <ng-container *ngSwitchCase="'login'">
          <app-login
            (initiateForgotPasswordEvent)="initiateForgotPassword()"
          ></app-login>
        </ng-container>
        <ng-container *ngSwitchCase="'forgotPassword'">
          <app-forgot-password></app-forgot-password>
        </ng-container>
      </div>
    </div>
  </div>
</div>
