<li [ngClass]="{ invalid: invalid }">
  <div class="horizontal-flex user-card">
    <img [src]="" [alt]="" />
    <div class="user-details">
      <b>
        <span *ngIf="assignee.user">{{ assignee.user }}</span>
      </b>
    </div>
    <div class="select-role tausy-project-select-role-dropdown">
      <mat-select
        [(value)]="assignee.role"
        (selectionChange)="onRoleChange($event.value)"
        [disabled]="changeRoleDisabled"
      >
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
    </div>
    <div class="list-close" (click)="onRemove()" *ngIf="canRemoveAssignees">
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
</li>
