<div class="export-box">
  <div class="main-body">
    <div class="form-group radio-group">
      <mat-radio-group [(ngModel)]="projectTypeSelected">
        <mat-radio-button
          disableRipple
          *ngFor="let auditType of auditTypes; let i = index"
          [value]="i"
          (change)="onSelectionChange($event)"
          >{{ auditType }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div class="form-group form-group-expand">
      <div class="date-picker">
        <stb-datepicker
          label="Start Date"
          [disabled]="disableDatePicker"
          [(date)]="startDate"
        ></stb-datepicker>
      </div>
      <div class="date-picker">
        <stb-datepicker
          label="End Date"
          [disabled]="disableDatePicker"
          [(date)]="endDate"
        ></stb-datepicker>
      </div>
    </div>
  </div>
  <div class="footer-position">
    <stb-button
      btnStyle="raised"
      (click)="onExport()"
      btnName="Export"
      btnColor="primary"
    ></stb-button>
    <stb-button
      btnStyle="raised"
      (click)="onClose()"
      btnName="Cancel"
      btnColor="accent"
    ></stb-button>
  </div>
</div>
