<div class="step-banner">
  <div class="step-header">
    <div class="left-controls">
      <div class="step-icon">
        <img alt="read" src="../../../../../assets/pics/Read.svg" />
      </div>
      <div class="icon-type" cdkDragHandle>
        Read
      </div>
      <div class="step-number">
        Step No. <span>{{ getStepNumber() }}</span>
      </div>
      <div class="screen-name">
        <span>Screen</span>
        <div class="select">
          <mat-select
            [(value)]="data.screen"
            placeholder="No Screen"
            [disabled]="!canEdit"
            disableOptionCentering
          >
            <mat-option
              [value]="screen.screenId"
              *ngFor="let screen of screenList"
              >{{ screen.screenName }}</mat-option
            >
          </mat-select>
        </div>
      </div>
    </div>

    <ng-container *ngIf="canEdit; else edit">
      <div class="right-controls">
        <div
          class="ctrl-btn step-edit color-green tausy-read-step-check-button"
          (click)="onClickOnOk()"
        >
          <i class="fas fa-check"></i>
        </div>
        <div
          class="ctrl-btn step-delete color-light-red"
          (click)="onCancelEdit()"
        >
          <i class="fas fa-times"></i>
        </div>
      </div>
    </ng-container>
    <ng-template #edit>
      <div class="right-controls">
        <div class="ctrl-btn step-attach" (click)="onAttachIconClick($event)">
          <!-- <i class="fas fa-paperclip"></i> -->
          <ng-container *ngIf="stepData.attachment_name; else noAttachment">
            <img src="../../../../../assets/pics/attachment.svg" />
          </ng-container>
          <ng-template #noAttachment>
            <img src="../../../../../assets/pics/no_attachment.svg" />
          </ng-template>
          <div class="step-tooltip">
            <app-tooltip
              [toolTipContent]="stepData.attachment_name"
              (toolTipDownload)="onAttachmentDownload($event)"
              (toolTipDelete)="onAttachmentDelete()"
            ></app-tooltip>
          </div>
        </div>
        <div class="ctrl-btn step-edit" (click)="onClikedOnEdit()">
          <i class="fas fa-pencil-alt"></i>
        </div>
        <div
          class="ctrl-btn step-delete tausy-step-delete"
          (click)="onDeleteStep()"
        >
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="step-body">
    <div class="form">
      <div class="form-group">
        <div class="form-sub-group padding-right">
          <label for="field">Field</label>
          <ng-container *ngIf="canEdit; else editField">
            <input
              class="tausy-read-step-field"
              type="text"
              id="field"
              [(ngModel)]="data.field"
            />
          </ng-container>
          <ng-template #editField>
            <span class="tausy-read-step-card-field">{{ data.field }}</span>
          </ng-template>
        </div>
        <div class="form-sub-group padding-left">
          <label for="field">Value</label>
          <ng-container *ngIf="canEdit; else editValue">
            <input
              class="tausy-read-step-value"
              type="text"
              id="Value"
              [(ngModel)]="data.value"
            />
          </ng-container>
          <ng-template #editValue>
            <span class="tausy-read-step-card-value">{{ data.value }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="form-sub-group padding-right">
          <label for="data-type">Data Type</label>
          <ng-container *ngIf="canEdit; else editDataType">
            <div class="select tausy-read-step-data-type">
              <mat-select
                [(value)]="data.data_type"
                placeholder="Any"
                [disabled]="!canEdit"
                disableOptionCentering
              >
                <mat-option>Any</mat-option>
                <mat-option
                  [value]="dataTypeOption.value"
                  *ngFor="let dataTypeOption of dataTypeOptions"
                  >{{ dataTypeOption.viewValue }}</mat-option
                >
              </mat-select>
            </div>
          </ng-container>
          <ng-template #editDataType>
            <span class="tausy-read-step-card-data-type">{{
              data.data_type
            }}</span>
          </ng-template>
        </div>
        <div class="form-sub-group padding-left">
          <label for="data-value">Data Value Constraints</label>
          <ng-container *ngIf="canEdit; else editDataValue">
            <input
              class="tausy-read-step-data-value-constraints"
              type="text"
              id="data-value"
              [(ngModel)]="data.data_value_constraint"
            />
          </ng-container>
          <ng-template #editDataValue>
            <span class="tausy-read-step-card-dvc">{{
              data.data_value_constraint
            }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="form-sub-group padding-right">
          <label for="notes">Notes</label>
          <ng-container *ngIf="canEdit; else editNotes">
            <textarea
              class="tausy-read-step-notes"
              id="notes"
              [(ngModel)]="data.notes"
            ></textarea>
          </ng-container>
          <ng-template #editNotes>
            <span class="tausy-read-step-card-notes">{{ data.notes }}</span>
          </ng-template>
        </div>
        <div class="form-sub-group padding-left">
          <label for="exception-handling">Exception Handling</label>
          <ng-container *ngIf="canEdit; else editException">
            <textarea
              class="tausy-read-step-exception-handling"
              id="exception-handling"
              [(ngModel)]="data.exception_handling"
            ></textarea>
          </ng-container>
          <ng-template #editException>
            <span class="tausy-read-step-card-exception-handling">{{
              data.exception_handling
            }}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
