<div class="step-banner">
  <div class="step-header">
    <div class="left-controls">
      <div class="step-icon">
        <i class="fas fa-book-reader"></i>
      </div>
      <div class="icon-type" cdkDragHandle>
        Read
      </div>
      <div class="step-number">
        Step No. <span>{{ getStepNumber() }}</span>
      </div>
      <div class="screen-name">
        <span>Screen</span>
        <div class="select">
          <mat-select
            [(value)]="data.screen"
            placeholder="None"
            [disabled]="!canEdit"
          >
            <mat-option [value]="null">None</mat-option>
            <mat-option
              [value]="screen.screenId"
              *ngFor="let screen of screenList"
              >{{ screen.screenName }}</mat-option
            >
          </mat-select>
        </div>
      </div>
    </div>

    <ng-container *ngIf="canEdit; else edit">
      <div class="right-controls">
        <div class="step-edit color-green" (click)="onClickOnOk()">
          <i class="fas fa-check"></i>
        </div>
        <div class="step-delete color-light-red" (click)="onCancelEdit()">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </ng-container>
    <ng-template #edit>
      <div class="right-controls">
        <div class="step-edit" (click)="onClikedOnEdit()">
          <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="step-delete" (click)="onDeleteStep()">
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="step-body">
    <div class="form">
      <div class="form-group">
        <div class="form-sub-group padding-right">
          <label for="field">Field</label>
          <ng-container *ngIf="canEdit; else editField">
            <input
              type="text"
              id="field"
              [(ngModel)]="data.field"
              maxlength="50"
            />
          </ng-container>
          <ng-template #editField>
            <span>{{ data.field }}</span>
          </ng-template>
        </div>
        <div class="form-sub-group padding-left">
          <label for="field">Value</label>
          <ng-container *ngIf="canEdit; else editValue">
            <input
              type="text"
              id="Value"
              [(ngModel)]="data.value"
              maxlength="50"
            />
          </ng-container>
          <ng-template #editValue>
            <span>{{ data.value }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="form-sub-group padding-right">
          <label for="data-type">Data Type</label>
          <ng-container *ngIf="canEdit; else editDataType">
            <div class="select">
              <mat-select
                [(value)]="data.data_type"
                placeholder="None"
                [disabled]="!canEdit"
              >
                <mat-option>None</mat-option>
                <mat-option
                  [value]="dataTypeOption.value"
                  *ngFor="let dataTypeOption of dataTypeOptions"
                  >{{ dataTypeOption.viewValue }}</mat-option
                >
              </mat-select>
            </div>
          </ng-container>
          <ng-template #editDataType>
            <span>{{ data.data_type }}</span>
          </ng-template>
        </div>
        <div class="form-sub-group padding-left">
          <label for="data-value">Data Value Constraints</label>
          <ng-container *ngIf="canEdit; else editDataValue">
            <input
              type="text"
              id="data-value"
              [(ngModel)]="data.data_value_constraint"
              maxlength="100"
            />
          </ng-container>
          <ng-template #editDataValue>
            <span>{{ data.data_value_constraint }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <div class="form-sub-group padding-right">
          <label for="notes">Notes</label>
          <ng-container *ngIf="canEdit; else editNotes">
            <textarea
              id="notes"
              [(ngModel)]="data.notes"
              maxlength="100"
            ></textarea>
          </ng-container>
          <ng-template #editNotes>
            <span>{{ data.notes }}</span>
          </ng-template>
        </div>
        <div class="form-sub-group padding-left">
          <label for="exception-handling">Exception Handling</label>
          <ng-container *ngIf="canEdit; else editException">
            <textarea
              id="exception-handling"
              [(ngModel)]="data.exception_handling"
              maxlength="50"
            ></textarea>
          </ng-container>
          <ng-template #editException>
            <span>{{ data.exception_handling }}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
