.export{
    position: fixed;
    top: 7rem;
    // background-color: #ffffff;
    z-index: 1000;
    right: 30px;
    display: none;
}
.export-active{
    display: block;
}
.btn-export-active{
    color: rgb(42, 125, 225);
    background: #ffffff;
}