.container{
    width: 100%;
    margin-bottom: 2rem;
}
.header{
    display: inline-block;
    height: 60px;
    width: 100%;
    background-color: #fff;
    line-height: 60px;
    font-size: 14px;
    position: relative;

    &__images{
      height: auto;
      position: absolute;
      top: 0;
      left: 310px;

      img{
        width: 26px;
        height: 26px;
        margin: 17px 5px 17px 5px;
        border-radius: 2px;
      }
    }

    &__btn{
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);

      .btn{
        width: 180px;
        height: 30px;
        border-radius: 2px;
        line-height: 30px;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        background-color: #2A7DE1;
        color: #fff;
        cursor: pointer;
      }
      
    }
}
.edit{
  margin-left: 30px;
  cursor: pointer;
  color: #707070;
}
.heading{
  color: #2A7DE1;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 30px;

  &__name{

  }
  &__id{

  }
  &__divider{
    color: #707070;
  }
  &__assignees{
    color: #707070;
    margin-left: 40px;
  }
  &__date{
    margin-left: 170px;
    color: #707070;

    &__icon{
      color: #F47074;
      font-size: 15px;
    }
  }
}
/* Reason Code Accordian*/
.accordian-container{
margin: 30px;
}