.container{
    width: 100%;
    margin-bottom: 5.5rem;
    position: relative;
    top: 3.4375rem;
}
.header{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #fff;
    line-height: 60px;
    font-size: 14px;
    position: relative;
    // overflow: hidden;
}
.edit{
  margin-left: 30px;
  cursor: pointer;
  color: #707070;
}
.heading{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  padding: 5px;
  // background-color: red;

  &__name{

  }
  &__id{

  }
  &__divider{
    color: #707070;
  }
  &__assignees{
    color: #707070;
    margin-left: 40px;
  }
  &__date{
    margin-left: 170px;
    color: #707070;

    &__icon{
      color: #F47074;
      font-size: 15px;
    }
  }
}
.assignee-box{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
}
.header__images{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 18px;
  height: 75px;
  right: 13rem;
}
.header__images img{
  height: 25px;
  width: 25px;
  margin: 5px;
  border-radius: 2px;
}
.extra{
  position: absolute;
  right: 12.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #cccccc;
}
.select{
  width: 170px;
  position: absolute;
  top: 16px;
  left: 270px;
}

.divider{
  width: 1px;
  height: 35px;
  background-color: #D1D1D1;
}
.middle{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.header__btn{
  right: 30px;

  button{
    background-color: #ffffff;
    color: #2A7DE1;
  }
}
.flex{
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1368px){
  .flex{
    justify-content: space-around;
  }
  .modal-table{
    max-height: 55vh;
  }
}
.charts{
  width: 100%;
  height: 250px;
  padding: 0 25px;
}

.table{
  display: flex;
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-top: 25px;
}

.animate-scale{
  top: -100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.animate-scale-active{
  top: 0;
  opacity: 1;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 65vh;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;

  .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333333;
    color: #fff;

    span:first-child{
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 50px;
      width: 200px;
      padding-left: 15px;
      line-height: 50px;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 500;
    }
    span:last-child{
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .modal-table{
    margin-top: 50px;
    width: 100%;
    max-height: 40vh;
    overflow: auto;

    table{
      width: 100%;
      border: none;
      border-spacing: 0 1px;
      border-collapse: inherit;
      border-color: #707070;
      

      thead, tbody{
        width: 100%;
        height: 50px;
        background-color: #E6F0FA;

        tr{
          height: 50px;
          border: 1px solid #707070;

          th, td{
            width: auto;
          }
          td{
            background-color: #ffffff;
            text-align: right;
            width: 145px;
          }
          th{
            font-size: 14px;
            text-align: left;
            padding-left: 15px;
            font-weight: 500;
          }
          .sprint-close{
            width: 50px;
            text-align: center;
            color: #707070;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.text-box{
  width: 130px;
  height: 35px;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  margin-left: 15px;
  padding-left: 10px;
  font-size: 14px;
}
.p-left{
  left: 0;
}

.footer{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  // background-color: red;


  .flex-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
}

.p-relative{
  position: relative;
}

.p-absolute{
  position: absolute;
}

.p-duration{
  top: -18px;
}
.arrow{
  position: absolute;
  height: 35px;
  width: 35px;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background-color: #ffffff;
  top: -18px;
  right: -1px;

  button{
    display: block;
    outline: none;
    border: none;
    background-color: #fff;
    color: #2A7DE1;
    cursor: pointer;
  }

  button:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
  }
  button:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
  }

  button:hover{
    background: #cccccc;
  }
}

.date-picker-pos{
  top: 5px;
  left: 12px;
}

.date{
  padding-left: 30px;
}
.add-btn{
  // background-color: red;
  padding: 15px;

  .btn{
    width: 150px;
  }
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 250px;
  height: 300px;
}

::ng-deep .mat-calendar-body-selected{
  background-color: #2A7DE1;
}

