<app-header></app-header>
<div class="universal" #totalPage>

  <ng-container *ngIf="!fixToTop">
    <div class="container">
      <div class="header">
  
        <div class="heading">
          <span class="heading__name">{{_reasonCode.currentProject?_reasonCode.currentProject.clientName:''}}</span>
          <span class="heading__divider"> | </span>
          <span class="heading__id">{{_reasonCode.currentProject?_reasonCode.currentProject.title:''}}</span>
        </div>
  
        <div class="middle header__btn">
          <button class="btn btn-blue btn-lg btn-shadow btn-active clearfill" (click)="onOpenAddSprint()">Config Sprint</button>
        </div>
  
      </div>
      <div class="flex charts">
        <app-charts [extras]="false" [projectStatus]="_reasonCode.totalProjectStatus" [meter]="true" [options]="pieChartOptions" [data]="_reasonCode.totalSprintData" [title]="'Project Status'"></app-charts>
        <app-charts [projectStatus]="_reasonCode.currentSprintDuration" [meter]="true" [options]="pieChartOptions" [data]="_reasonCode.currentSprintData" [title]="'Current Sprint'" [selectOptions]="_reasonCode.sprintConfig"></app-charts>
        <app-charts [extras]="false" [projectStatus]="_reasonCode.totalProjectStatus" [meter]="false" [options]="barChartOptions" [title]="'Benefits'" [data]="_reasonCode.benefitsChartData"></app-charts>
      </div>
    </div>
  </ng-container>




  <div class="userstory-container" [ngClass]="{'userstory-container-active':fixToTop}">
    <mat-tab-group class="userstory-container-tabs">
      <mat-tab label="Open U/S">
        <!-- <div class="filter-selected">

        </div> -->
        <div class="card-holder" [ngClass]="{'card-holder-active':fixToTop}" *ngIf="userStories" #userStoryContainer>
          
          <app-userstory-card *ngFor="let userStory of _reasonCode.userStories" [userStory]="userStory" (editUserStory)="onOpenUserStorySidebar($event, userStory)"></app-userstory-card>
        </div>
      </mat-tab>
      <mat-tab label="Completed U/S">
        <div class="card-holder">
            <app-userstory-card *ngFor="let userStory of _reasonCode.completeUserStories" [userStory]="userStory" (editUserStory)="onOpenUserStorySidebar($event, userStory)"></app-userstory-card>
        </div>
      </mat-tab>
      <mat-tab label="Deleted U/S">
        <div class="card-holder">
            <app-userstory-card *ngFor="let userStory of _reasonCode.deletedUserStories" [userStory]="userStory" (editUserStory)="onOpenUserStorySidebar($event, userStory)"></app-userstory-card>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="menu-btn-group">
      <button class="sort-btn btn btn-flat-grey" [matMenuTriggerFor]="sortby">Sort By</button>
      <button class="btn btn-flat-grey" (click)="openFilter()" [ngClass]="{'filter-btn-active':filter}">Filter</button>
      <button class="btn btn-flat-grey" (click)="onCreate()">Create New U/S</button>
      <mat-menu #sortby="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="usName">U/S Name</button>
        <button mat-menu-item [matMenuTriggerFor]="priority">Priority</button>
        <button mat-menu-item [matMenuTriggerFor]="productivity">Productivity</button>
        <button mat-menu-item [matMenuTriggerFor]="reasonCode">Reason Code</button>
      </mat-menu>

      <mat-menu #usName="matMenu">
        <button mat-menu-item>A to Z</button>
        <button mat-menu-item>Z to A</button>
      </mat-menu>
      
      <mat-menu #priority="matMenu">
        <button mat-menu-item>High to Low</button>
        <button mat-menu-item>Low to High</button>
      </mat-menu>

      <mat-menu #productivity="matMenu">
        <button mat-menu-item>High to Low</button>
        <button mat-menu-item>Low to High</button>
      </mat-menu>

      <mat-menu #reasonCode="matMenu">
        <button mat-menu-item>High to Low</button>
        <button mat-menu-item>Low to High</button>
      </mat-menu>

      <div class="filter" [ngClass]="{'filter-active': filter}">
        <userstory-filter></userstory-filter>
      </div>
      
    </div>
  </div>

  <div class="create-user-story" [ngClass]="{'create-user-story-active': openCreateSideBar}">
      <app-userstory-card-create *ngIf="openCreateSideBar" [sprintOptions]="sprintOptions" (close)="onCloseCreateUserStories($event)"></app-userstory-card-create>
  </div>
  <div class="create-user-story" [ngClass]="{'create-user-story-active': openEditSideBar}">
      <app-userstory-card-edit (warning)="onDoneWarning($event)" *ngIf="openEditSideBar" (close)="onCloseEditUserStories($event)" [editUSData]="userStoryData" [sprintOptions]="sprintOptions"></app-userstory-card-edit>
  </div>

</div>
<!-- Create new sprint 'openAddSprint' -->
<div class="overlay animate-scale" [ngClass]="{'animate-scale-active': openAddSprint}">

  <div class="sprint-config-modal">
    <sprint-config *ngIf="openAddSprint" [sprintConfigData]="_reasonCode.sprintConfig" (closeSprints)="openAddSprint=$event"></sprint-config>
  </div>
  <!-- <div class="modal">
    <div class="header">
      <span>Add Sprints</span>
      <span (click)="onCloseAddSprint()"><i class="fas fa-times"></i></span>
    </div>
    <div class="modal-table">
      <table>
        <thead>
          <tr>
            <th>Sprint#</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>Duration</th>
            <th>End Date</th>
            <th class="sprint-close"></th>
          </tr>
        </thead>
        <tbody *ngIf="_reasonCode.sprintConfig">

            <tr [id]="sprint.id" *ngFor="let sprint of _reasonCode.sprintConfig">
              <td>{{sprint.sprintNumber}}</td>
              <td>
                <input class="text-box" type="text" [(ngModel)]="sprint.sprint_name" (keyup)="onEditSprint($event, sprint.id, sprint)">
              </td>
              <td class="p-relative">
                <input class="text-box date" [matDatepicker]="picker" type="text" placeholder="Choose a date" [value]="sprint.start_date" (ngModelChange)="onEditSprint($event, sprint.id, sprint)" readonly>
                <div class="p-absolute date-picker-pos">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </td>
              <td>
                <input class="text-box" type="text" [(ngModel)]="sprint.duration" (keyup)="onEditSprint($event, sprint.id, sprint)" readonly>
              </td>
              <td>
                <input class="text-box" type="text" [(ngModel)]="sprint.end_date" (keyup)="onEditSprint($event, sprint.id, sprint)">
              </td>
              <td (click)="onDeleteSprint(sprint.id)" class="sprint-close">
                <i class="fas fa-times"></i>
              </td>
            </tr>

            <tr>
              <td></td>
              <td><input class="text-box" type="text" [(ngModel)]="addSprintPayload.sprint_name" placeholder="Sprint Name" (keyup)="validateSprint(addSprintPayload)"></td>
              <td class="p-relative">
                <input class="text-box date" [matDatepicker]="picker" type="text" placeholder="Choose a date" [(ngModel)]="addSprintPayload.start_date" readonly [disabled]="validateSprintConfig.start_date" (click)="validateSprint(addSprintPayload)">
                <div class="p-absolute date-picker-pos">
                  <mat-datepicker-toggle matSuffix [for]="picker" (click)="validateSprint(addSprintPayload)"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </td>
              <td>
                <div class="p-relative">
                  <input class="text-box p-absolute p-duration p-left" type="text" [(ngModel)]="addSprintPayload.duration" readonly placeholder="Weeks" [disabled]="validateSprintConfig.duration">
                  <div class="arrow">
                    <button (click)="onArrowUp()" [disabled]="validateSprintConfig.duration"><i class="fas fa-caret-up"></i></button>
                    <button (click)="onArrowDown()" [disabled]="validateSprintConfig.duration"><i class="fas fa-caret-down"></i></button>
                  </div>
                </div>
              </td>
              <td>
                <input class="text-box" type="text" [(ngModel)]="addSprintPayload.end_date" readonly placeholder="End Date" [disabled]="validateSprintConfig.end_date">
              </td>
              <td class="sprint-close"> </td>
            </tr>
          
          
        </tbody>
      </table>
    </div>
    <div class="add-btn">
      <button class="btn btn-flat-blue btn-flat-ash" (click)="onSaveSprint()">ADD SPRINT</button>
    </div>
    <div class="footer">
      <div class="flex flex-wrapper">
        <button class="btn btn-flat-blue btn-blue btn-primary" (click)="onCloseAddSprint()">OK</button>
        <button class="btn btn-flat-grey btn-primary" (click)="onCloseAddSprint()">CANCEL</button>
      </div>
    </div>
  </div> -->
</div>



<div class="overlay opacity" *ngIf="_reasonCode.movemodal">
  <div id="move-user-story">
    <div class="modal">
      <div class="header">
        <span>Move User Story</span>
        <span><i class="fas fa-times"></i></span>
      </div>
      <div class="sub-header">Drag & Drop U/S from one box to another</div>

      <div class="move-box flex">
        <div class="banner">
          <div class="dropdown">
            <app-select [placeholder]="'Select'" [options]="options"></app-select>
          </div>
          <div class="drag-box">
              <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}} <span><i class="fas fa-arrows-alt"></i></span></div>
              </div>
          </div>
        </div>
        
        <div class="banner">
          <div class="dropdown">
            <app-select [placeholder]="'Select'" [options]="options"></app-select>
          </div>
          <div class="drag-box">
              <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}} <span><i class="fas fa-arrows-alt"></i></span></div>
              </div>
          </div>
        </div>

      </div>

      <div class="footer">
        <div class="footer-note">
            *Note: You can only move U/S for the same clients only
        </div>

        <div class="footer-buttons flex">
          <button class="btn btn-flat-blue btn-blue">OK</button>
          <button class="btn btn-flat-grey" (click)="onCancel()">CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-preloader></app-preloader>

<div class="overlay" *ngIf="warning">
  <div class="warning">
    <p>Are you sure you want to move it to <strong>Completed</strong>?</p>
    <div class="btn-group">
      <button class="btn btn-blue" (click)="onSelectYes()">Yes</button>
      <button class="btn btn-flat-ash" (click)="onSelectNo()">No</button>
    </div>
  </div>
</div>