<div class="container">
  <div class="header">
    <span class="pname">Cornell Project 2</span>
    <span class="assign">Assignee's <span class="date">Due Date 12/09/18</span></span>
  </div>
</div>

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Reason Code 1
        </mat-panel-title>
        <mat-panel-description>
          RC Name
        </mat-panel-description>
        <mat-panel-description>
          Status
        </mat-panel-description>
        <mat-panel-description>
          User Story identified
        </mat-panel-description>
        <mat-panel-description>
          Effort Estimation
        </mat-panel-description>
        <mat-panel-description>
          Release Sprint
        </mat-panel-description>
        <mat-panel-description>
          Dev Ready
        </mat-panel-description>
        <mat-panel-description>
          <a class="btn" routerLink="/add-steps">View Flowchart</a>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expansion-container"></div>
      <div class="expansion-container"></div>
      <div class="expansion-container"></div>
    </mat-expansion-panel>
  </mat-accordion>