<div class="accordian">
  <div class="expansion-panel-header" (click)="onExpand($event)"
  [ngClass]="{'expansion-panel-header-expanded':expand}">
    <span>{{screenDetails.section_name}}</span> 
    <span class="info">
      <i class="fas fa-info-circle" matTooltip="{{screenDetails.description}}"
      matTooltipClass="tooltip-white" [matTooltipPosition]="'right'"></i>
    </span>
  </div>
  <div class="expansion-panel-collapsed" *ngIf="expand" @hide>

    <div *ngIf="screens.length > 0">

      <div class="slide-holder" *ngFor="let screen of screens">
        <span>{{'Screen Name'}}</span>
        <img src="../../../../assets/pics/img5.jpg" alt="">
        <span>{{'2.1.1 - 2.1.4'}}</span>
        <div class="carrat"></div>
      </div>

    </div>

    <div class="slide-holder" (click)="onAddScreen()">
      <img src="../../../../assets/pics/Group 2785@2x.png" alt="placeholder">
    </div>

  </div>
</div>