.accordian{
  display: block;
  width: 100%;
  background-color: #54585A;
  min-height: 35px;
  max-height: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
}
.expansion-panel-header{
  display: block;
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  color: #fff;
  background-color: #393939;
  cursor: pointer;
}
.expansion-panel-header-expanded{
  background-color: #2A7DE1;
}
.expansion-panel-collapsed{
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background-color: #777777;
  margin-top: 5px;
}
.expansion-panel-collapsed::-webkit-scrollbar{
  display: none;
}
.expansion-panel-collapsed::-moz-scrollbar{
  display: none;
}
.slide-holder{
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  padding: 10px 20px 10px 20px ;
  cursor: pointer;
}
.slide-holder:hover{
  background-color: #ccc;
}

.border-0{
  border: 0px solid;
}
.slide-holder:hover .carrat{
  position: absolute;
  background-color: #393939;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translate(0,-50%) rotate(45deg);
  right: -9px;
}
.slide-holder img{
  width: 100%;
  height: 100px;
}
.slide-holder span{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.info{
  float: right;
  margin-right: 15px;

  i{
    position: relative;
  }
  i:hover .tooltip{
    visibility: visible;
  }
}
.margin{
  margin: 20px 0 20px 0;
}
.active{
  background-color: #40C0C4;
}
.active:hover{
  background-color: #40C0C4;
}
.active:active{
  background-color: #40C0C4;
}
.cdk-drag-preview {
  box-sizing: border-box;
  background-color: #777777 !important;
  border: 5px solid #40C0C4 !important;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  border: 5px dashed #cccccc;
  border-radius: 5px;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.slide-holder.cdk-drop-list-dragging .slide-holder:not(.cdk-drag-placeholder) {
  
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
