<div class="accordian">
  <div class="expansion-panel-header" (click)="onExpand($event)"
  [ngClass]="{'expansion-panel-header-expanded':expand}">
    <span>{{sectionName}}</span>
  </div>
  <div class="expansion-panel-collapsed" *ngIf="expand" @hide>

    <div class="slide-holder">
      <span>{{'Screen Name'}}</span>
      <img src="../../../../assets/pics/img5.jpg" alt="">
      <span>{{'2.1.1 - 2.1.4'}}</span>
      <div class="carrat"></div>
    </div>

    <div class="slide-holder">
        <span>{{'Screen Name'}}</span>
        <img src="../../../../assets/pics/img5.jpg" alt="">
        <span>{{'2.1.1 - 2.1.4'}}</span>
        <div class="carrat"></div>
      </div>

      <div class="slide-holder">
          <span>{{'Screen Name'}}</span>
          <img src="../../../../assets/pics/img5.jpg" alt="">
          <span>{{'2.1.1 - 2.1.4'}}</span>
          <div class="carrat"></div>
        </div>

        <div class="slide-holder">
            <span>{{'Screen Name'}}</span>
            <img src="../../../../assets/pics/img5.jpg" alt="">
            <span>{{'2.1.1 - 2.1.4'}}</span>
            <div class="carrat"></div>
          </div>

          <div class="slide-holder">
              <span>{{'Screen Name'}}</span>
              <img src="../../../../assets/pics/img5.jpg" alt="">
              <span>{{'2.1.1 - 2.1.4'}}</span>
              <div class="carrat"></div>
            </div>
            <div class="slide-holder">
                <span>{{'Screen Name'}}</span>
                <img src="../../../../assets/pics/img5.jpg" alt="">
                <span>{{'2.1.1 - 2.1.4'}}</span>
                <div class="carrat"></div>
              </div>
    
              <div class="slide-holder">
                  <span>{{'Screen Name'}}</span>
                  <img src="../../../../assets/pics/img5.jpg" alt="">
                  <span>{{'2.1.1 - 2.1.4'}}</span>
                  <div class="carrat"></div>
                </div>

                <div class="slide-holder">
                    <span>{{'Screen Name'}}</span>
                    <img src="../../../../assets/pics/img5.jpg" alt="">
                    <span>{{'2.1.1 - 2.1.4'}}</span>
                    <div class="carrat"></div>
                  </div>
        
                  <div class="slide-holder">
                      <span>{{'Screen Name'}}</span>
                      <img src="../../../../assets/pics/img5.jpg" alt="">
                      <span>{{'2.1.1 - 2.1.4'}}</span>
                      <div class="carrat"></div>
                    </div>
    

  </div>
</div>