<div class="step-container">
  <div class="header" [ngClass]="{'collapse-bg':hide}">
    <span [matMenuTriggerFor]="menu" [ngClass]="{'select':true, 'collapse-color':hide}">{{selected}} <i class="fas fa-angle-down"></i></span>
    <mat-menu #menu="matMenu">
      <button (click)="onSelect(stepType)" mat-menu-item *ngFor="let stepType of stepTypes">{{stepType}}</button>
    </mat-menu>

    <span *ngIf="selected=='Read'" [ngClass]="{'col-btn':true, 'read-db':true, 'read-db-color':hide}">
      <mat-checkbox>Read DB</mat-checkbox>
    </span>

    <span [matMenuTriggerFor]="edit" class="col-btn option-btn" [ngClass]="{'collapse-color':hide}"><i class="far fa-edit"></i></span>
    <mat-menu #edit="matMenu">
      <button mat-menu-item>Duplicate</button>
      <button mat-menu-item (click)="onDelete()">Delete</button>
    </mat-menu>

    <span class="col-btn divider" (click)="onCollapse()">
      <i class="fas fa-caret-up" [ngClass]="{'rotate':hide, 'collapse-color':hide}"></i>
    </span>
  </div>

  <div [ngClass]="{'collapsable':true,'hide':hide}">
    <form [formGroup]="operationDetails" (keypress)="onUpdate()" (click)="onUpdate()">
<!-- --------------------------------------------------------------Read--------------------------------------------------------------------------------------- -->
      <fieldset *ngIf="selected=='Read'" formGroupName="read">
        <div class="form-group" [id]="selected">
          <input class="w-small" type="number" placeholder="1.2.1" formControlName="readOperationNumber">
          <input class="w-4" type="text" placeholder="Field Name" formControlName="readFieldName">
          <input class="w-4" type="text" placeholder="Parameter" formControlName="readParameter">
          <input class="w-4" type="text" placeholder="Data Type" formControlName="readDataType">
        </div>

        <div class="form-group" [id]="selected">
          <input class="w-2" type="text" placeholder="Data Value Constraints" formControlName="readDataValue">
          <input class="w-2" type="text" placeholder="Notes" formControlName="readNotes">
        </div>

        <div class="form-group" [id]="selected">
          <input class="w-full" type="text" placeholder="Exception Handling" formControlName="readExceptionHandling">
        </div>
      </fieldset>
<!-- -----------------------------------------------------------Type------------------------------------------------------------------------------------------ -->
      <fieldset *ngIf="selected=='Type'" formGroupName="type">
        <div class="form-group" [id]="selected">
          <input class="w-small" type="number" placeholder="1.2.1" formControlName="typeOperationNumber">
          <input class="w-3" type="text" placeholder="Field Name" formControlName="typeFieldName">
          <input class="w-3" type="text" placeholder="Parameter" formControlName="typeParameter">
        </div>

        <div class="form-group" [id]="selected">
          <input class="w-2" type="text" placeholder="Exception Handling" formControlName="typeExceptionHandling">
          <input class="w-2" type="text" placeholder="Notes" formControlName="typeNotes">
        </div>
      </fieldset>
<!-- -------------------------------------------------------UI Interaction-------------------------------------------------------------------------------------- -->
      <fieldset *ngIf="selected=='UI Interaction'" formGroupName="uiinter">
        <div class="form-group" [id]="selected">
          <input class="w-small" type="number" placeholder="1.2.1" formControlName="uiinterOperationNumber">
          <div class="select"><app-select [options]="interactionType" [placeholder]="'Interaction Type'" (optionSelected)="onInteractionTypeSelected($event)"></app-select></div>
          <input class="w-4" type="text" placeholder="Parameter" formControlName="uiinterParameter">
          <div class="select"><app-select [options]="clickOptions" [placeholder]="'Click Options'" (optionSelected)="onClickOptionSelected($event)"></app-select></div>
        </div>

        <div class="form-group" [id]="selected">
          <input class="w-2" type="text" placeholder="Exception Handling" formControlName="uiinterExceptionHandling">
          <input class="w-2" type="text" placeholder="Notes" formControlName="uiinterNotes">
        </div>
      </fieldset>
<!-- ------------------------------------------------------Calculation--------------------------------------------------------------------------------------- -->
      <fieldset *ngIf="selected=='Calculation'" formGroupName="calculation">
        <div class="form-group" [id]="selected">
          <input class="w-small" type="number" placeholder="1.2.1" formControlName="calcOperationNumber">
          <div class="select"><app-select [options]="parameter1" [placeholder]="'Parameter 1'" (optionSelected)="onParameter1Selected($event)"></app-select></div>
          <div class="select"><app-select [options]="parameter2" [placeholder]="'Parameter 2'" (optionSelected)="onParameter2Selected($event)"></app-select></div>
          <span class="add-calc w-4">ADD PARAMETER</span>
        </div>
      </fieldset>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    
    </form>
  </div>


</div>