<div class="flex">
  <div class="flex-item">
    <left-panel (onenMediaPane)="openSidebar=$event"></left-panel>
  </div>
  <div class="flex-item">
    <right-panel></right-panel>
  </div>
</div>

<div class="panel">
  <div class="panel-body panel-body__left" [ngClass]="{'panel-body-active':toggleRecentSnapshot}">
    <recent-screen-shots (open)="onOpenRecentScreenshot($event)" [data]="imageGalleryContent"></recent-screen-shots>
  </div>
  <div class="panel-body panel-body__right">
    <operations-bar></operations-bar>
  </div>
</div>


<div class="overlay-left" [ngClass]="{'overlay-left-active':openSidebar}">
</div>
<div class="sidebar" [ngClass]="{'sidebar-open':openSidebar}">
  <app-sidebar (close)="onOpenSidebar($event)"></app-sidebar>
</div>

<div class="sidebar-buttons">
  <app-sidebar-buttons (open)="onOpenSidebar($event)"></app-sidebar-buttons>
</div>

<div class="overlay higher-stack" [ngClass]="{'overlay-show':showExportToSop, 'overlay-hide':!showExportToSop}">
  <div class="export-to-sop">
    <app-export-to-sop (close)="showExportToSop=$event"></app-export-to-sop>
  </div>
</div>