.side-container {
  position: relative;

  .heading {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding: 0 20px;

    span {
      font-size: 18px;
    }
    span:first-child {
      color: #2a7de1;
    }
    span:last-child {
      float: right;
      color: #c1c1c1;
      cursor: pointer;
    }
  }
  div.form {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 200px;

    .form-group {
      min-width: 60px;
      min-height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .input-container {
        width: 100%;
        height: auto;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        font-size: 14px;

        .title {
          color: #c1c1c1;
          margin-bottom: 10px;
        }
        .warning {
          color: #f47074;
        }
        .align-center {
          text-align: center;
        }

        .editable {
          width: 100%;
          height: 35px;
          line-height: 35px;
          transition: all 0.1s ease;

          .etd-date-picker {
            position: absolute;
            top: -3px;
            left: -3px;
          }

          span {
            width: 100%;
            text-align: center;
            display: block;
          }

          .select {
            height: 30px;
            width: 100px;

            .dropdown {
              width: 100%;
              height: 90px;
              background-color: #ffffff;

              span {
                display: block;
                height: 30px;
              }
            }
          }

          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }

          input[type="text"],
          input[type="number"] {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            transition: all 0.1s ease;
          }
          .text-center {
            text-align: center;
          }

          input[type="text"]:hover,
          input[type="number"]:hover {
            background-color: rgb(236, 236, 236);
          }

          input[type="text"]:focus,
          input[type="number"]:focus {
            border: 2px solid #2a7de1;
            background-color: #ffffff;
            color: #000000;
            padding-left: 5px;
          }

          input[type="text"].warning,
          input[type="number"].warning {
            border: 2px solid #f47074;
          }

          input[type="number"] {
            text-align: center;
            padding-left: 0px;
          }
          input[type="number"].text-left {
            text-align: left;
          }

          input[type="text"]:focus.no-style,
          input[type="number"]:focus.no-style,
          input[type="number"]:hover.no-style,
          input[type="text"]:hover.no-style {
            border: none;
            background-color: #ffffff;
            padding-left: 0;
          }
        }
        .editable:hover {
          border-radius: 5px;
        }
        .align-center {
          text-align: center;
        }
        .pad-right {
          padding-right: 25px;
        }
      }
      .sm {
        width: 85px;
      }
      .md {
        width: 125px;
      }
      .lg {
        width: 180px;
      }
      .extra {
        width: 195px;
      }
    }
    .btn-group {
      padding: 20px;
      margin-top: 10px;
      button {
        height: 30px;
      }

      button:first-child {
        margin-right: 20px;
      }

      span {
        border-radius: 5px;
        background-color: rgba($color: #f47074, $alpha: 0.3);
        padding: 10px 5px;
        margin-left: 20px;
        color: #f47074;
        font-size: 14px;
      }
    }

    .h-space-equally {
      justify-content: space-between;
    }

    .h-divider {
      width: 92%;
      height: 1px;
      background-color: #c1c1c1;
      margin: 0 auto;
    }
  }
}
