.modal-content {
  padding: 20px;
}

.confirm-buttons {
  display: flex;
  justify-content: space-evenly;
}
.confirm-message {
  padding: 15px 15px 15px;
}
.content-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1px 15px;
}
.footer-info {
  display: flex;
  justify-content: space-evenly;
  font: -webkit-small-control;
}
