<div class="dialog-export">
  <div class="dialog-header">
    <div class="dialog-name">
      Export Screenshot to User Story Name Example
    </div>
    <div class="dialog-close" (click)="onCloseExportModal()">
      <i class="fas fa-times"></i>
    </div>
  </div>

  <div class="form">
    <div class="image-frame">
      <img src="../../../../assets/pics/login_page.jpg" alt="">
    </div>
    <div class="form-footer">
      <span>Add Screen Details</span>
      <div class="form-controls">
        <input type="text" placeholder="*Application name">
        <input type="text" placeholder="*Screen name">
        <input type="text" placeholder="*Tab name">
      </div>
      <div class="form-button">
        <button>Yes, Export to User Story</button>
        <button>No, Continue Taking Screenshots</button>
      </div>
    </div>
  </div>

</div>