<div class="dialog-export">
  <div class="dialog-header">
    <div class="dialog-name">
      Export Screenshot to User Story Name Example
    </div>
    <div class="dialog-close" (click)="onCloseExportModal()">
      <i class="fas fa-times"></i>
    </div>
  </div>

  <div class="form">
    <div class="image-frame">
      <img [src]="data ? data.thumbnail:''" alt="image to export">
    </div>
    <div class="form-footer">
      <span>Add Screen Details</span>
      <div class="form-controls">
        <input type="text" placeholder="*Application name" [(ngModel)]="applicationName">
        <input type="text" placeholder="*Screen name" [(ngModel)]="screenName">
        <input type="text" placeholder="*Tab name" [(ngModel)]="tabName">
      </div>
      <div class="form-button">
        <button (click)="onExportToSop()">Yes, Export to SOP</button>
        <button (click)="onCloseExportModal()">No, Continue Taking Screenshots</button>
      </div>
    </div>
  </div>

</div>