.main-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: calc(100% - (50% - 20px)*2);
    grid-template-rows: calc(100vh - 3.4375rem - 3rem - 4.5rem);
    /* overflow: hidden; */
}
.sub-container{
    // border: 1px solid #000;
    background-color: #fff;
}