@import "../global.scss";

.expansion-panel{
  background-color: #686868;

  .expansion-panel-header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    color: #cccccc;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
  
    .toggle-caret{
      color: #cccccc;
    }
  }
  
  // .expansion-panel-expanded{
  //   height: 200px;
  // }
}

.expanded{
  max-height: 30vh;
  padding: 20px;
  overflow: auto;
}
