<!-- 
<button mat-button [matMenuTriggerFor]="menu">Sort By Client</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->


  <!-- <mat-form-field class="sort">
      <mat-select placeholder="Sort By Client">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
<div class="filter-container sort" (click)="onClickDropdown()">
    <input type="text" placeholder="Sort By Client" [(ngModel)]="selectedValue" readonly>
    <span><i class="fas fa-angle-down"></i></span>
</div>
<div class="dropdown" *ngIf="expandDropdown">
  <span *ngFor="let option of options" (click)="onSelect(option)">{{option}}</span>
</div>