<div class="container">
      <div class="sidebar">
        <div class="header">
            <div class="logo">client logo</div> <div class="headline">Cornell Project 2</div>
        </div>
        <button (click)="onbtn()">Add</button>
      </div>
      <div class="topbar">
        <div class="radioBtn">
            <mat-radio-group>
                <mat-radio-button value="1">Step View</mat-radio-button>
                <mat-radio-button value="2">Reason Code View</mat-radio-button>
                <mat-radio-button value="3">Automation System View</mat-radio-button>
            </mat-radio-group>
        </div>
      </div>
      <div class="flowboard"
      (mouseover)="onMouseMove()" 
      >
      <div *ngIf="add==true" ngFor="let div of Largedivs" class="custom" draggable="true"></div>
          
      </div>
      <div class="rightbar"></div>
</div>
