.sidebar{
    display: block;
    width: 18.75rem;
    height: 100%;
    background-color: #ccc;
}
.logo{
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 60px;
    font-size: 7px;
    color: #777;
    text-align: center;
    margin-right: 20px;
}
.header{
    display: inline-block;
    width: 100%;
}
.headline{
    float: right;
}
.container{
    position: relative;
    height: 100%;
}
.topbar{
    display: block;
    height: 5rem;
    width: calc(100% - 18.75rem);
    position: absolute;
    top: 0;
    right: 0;
}
.radioBtn{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
mat-radio-button .mat-radio-label-content{
    padding-right: 30px;
}
.flowboard{
    background-color: #fff;
    position: absolute;
    height: 800px;
    width: 1200px;
    background-image: url(../../../images/grid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 5rem;
    left: 19.75rem;
    cursor: crosshair;
}
.rightbar{
    position: absolute;
    top: 5rem;
    right: 0;
    height: calc(100% - 5rem);
    width: calc(100% - (1200px + 19.75rem));
    background-color: #ccc;
}
.custom{
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    background-color: red;
    top: 50%;
    left: 50%;
}