<div class="container">
  <div class="file-list">
    <mat-tab-group animationDuration="0">
      <mat-tab label="Recent Files">
        <div class="top-padding">
          <div class="row">
            <ng-container>
              <div class="grid-item">
                <app-create-project-card
                  (openCreateProject)="onCreateProject($event)"
                ></app-create-project-card>
              </div>
            </ng-container>
            <div
              class="grid-item"
              *ngFor="
                let cardData of projectsService.cardContents;
                let i = index
              "
            >
              <app-project-card
                [cardData]="cardData"
                (deleteSop)="onDeleteSop($event)"
                (grantedPermissions)="givenPermissions($event)"
                (openEditProject)="onEditProject($event, i)"
              >
              </app-project-card>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(56, 73, 109, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
  class="myspinner"
>
</ngx-spinner>

<div
  class="overlay"
  [ngClass]="{
    'overlay-show': warningToDeleteSop,
    'overlay-hide': !warningToDeleteSop
  }"
>
  <div class="warning">
    <p>
      Are you sure you want to delete this SOP? <br />All the associated sprints
      and user stories will be deleted.
    </p>
    <div class="btn-group">
      <button class="btn btn-blue" (click)="onSelectDeleteSop()">Yes</button>
      <button class="btn btn-flat-ash" (click)="onSelectDoNotDeleteSop()">
        No
      </button>
    </div>
  </div>
</div>

<div
  class="overlay"
  [ngClass]="{
    'overlay-show': openEditProjectDialogBox,
    'overlay-hide': !openEditProjectDialogBox
  }"
>
  <div class="project-dialog-box" *ngIf="openEditProjectDialogBox">
    <app-edit-project-dialog
      [permissions]="permissionsGrantedForBackdrop"
      [project]="projectData"
      [projectRole]="projectRole"
      (close)="onEditProjectClose()"
    ></app-edit-project-dialog>
  </div>
</div>

<div
  class="overlay"
  [ngClass]="{
    'overlay-show': openCreateProjectDialogBox,
    'overlay-hide': !openCreateProjectDialogBox
  }"
>
  <div class="project-dialog-box" *ngIf="openCreateProjectDialogBox">
    <app-edit-project-dialog
      create="true"
      (close)="onEditProjectClose()"
    ></app-edit-project-dialog>
  </div>
</div>
