@import "../common-step-style.scss";

.add-another-btn {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 0;

  button {
    background-color: transparent;
    color: #2a7de1;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
  }

  .group {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    label {
      color: #999999;
      padding-bottom: 5px;
    }

    input[type="text"] {
      height: 30px;
      border: 1px solid #d1d1d1;
      padding: 7px;
    }
  }
}

.select-with-delete {
  display: flex;
  justify-content: space-between;
  .select {
    width: 80%;
  }
  .delete {
    width: 20%;
    line-height: 30px;
    text-align: center;
    color: #2a7de1;
    cursor: pointer;
  }
}
.radio-group {
  margin: 0 30px 10px 20px;
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 20px;
  }

  ::ng-deep .mat-radio-label-content {
    font-size: 14px;
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent
    .mat-radio-ripple
    .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #2a7de1;
  }

  ::ng-deep
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: #2a7de1;
  }
}
.select-size {
  width: 100px;
  margin-top: 11px;
}
.select-wrapper {
  border: 1px solid #d1d1d1;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}
.gutter-left {
  padding-left: 20px;
}
