<div class="step-banner">
  <div class="step-header">
    <div class="left-controls">
      <div class="step-icon">
        <i class="fas fa-book-reader"></i>
      </div>
      <div class="icon-type">
        Condition
      </div>
      <div class="step-number">
        Step No. <span>{{ getStepNumber() }}</span>
      </div>
      <div class="screen-name">
        <span>Screen</span>
        <div class="select">
          <mat-select
            [(value)]="data.screen"
            placeholder="No Screen"
            [disabled]="!canEdit"
            disableOptionCentering
          >
            <mat-option
              [value]="screen.screenId"
              *ngFor="let screen of screenList"
              >{{ screen.screenName }}</mat-option
            >
          </mat-select>
        </div>
      </div>
    </div>

    <ng-container *ngIf="canEdit; else edit">
      <div class="right-controls">
        <div class="ctrl-btn step-edit color-green" (click)="onClickOnOk()">
          <i class="fas fa-check"></i>
        </div>
        <div
          class="ctrl-btn step-delete color-light-red"
          (click)="onCancelEdit()"
        >
          <i class="fas fa-times"></i>
        </div>
      </div>
    </ng-container>
    <ng-template #edit>
      <div class="right-controls">
        <div class="ctrl-btn step-attach" (click)="onAttachIconClick($event)">
          <ng-container *ngIf="stepData.attachment_name; else noAttachment">
            <img src="../../../../../assets/pics/attachment.svg" />
          </ng-container>
          <ng-template #noAttachment>
            <img src="../../../../../assets/pics/no_attachment.svg" />
          </ng-template>
          <div class="step-tooltip">
            <app-tooltip
              [toolTipContent]="stepData.attachment_name"
              (toolTipDownload)="onAttachmentDownload($event)"
              (toolTipDelete)="onAttachmentDelete()"
            ></app-tooltip>
          </div>
        </div>
        <div class="ctrl-btn step-edit" (click)="onClikedOnEdit()">
          <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="ctrl-btn step-delete" (click)="onDeleteStep()">
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="step-body">
    <div class="form">
      <div class="radio-group" *ngIf="canEdit">
        <mat-radio-group [(ngModel)]="data.condition_selected">
          <mat-radio-button
            [value]="condition"
            *ngFor="let condition of conditions"
            >{{ condition }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <ng-container>
        <div class="form-group">
          <div
            class="form-sub-group form-sub-group-3 form-sub-group-40 padding-right"
          >
            <label for="field" class="gutter-left">Variable</label>
            <div class="if-logic">
              <span class="if-text">If</span>
              <ng-container *ngIf="canEdit; else editField">
                <div class="select">
                  <input type="text" [(ngModel)]="data.first_variable" />
                </div>
              </ng-container>
              <ng-template #editField>
                <span>{{ data.first_variable }}</span>
              </ng-template>
            </div>
          </div>
          <div
            class="form-sub-group form-sub-group-3 form-sub-group-20 padding-both"
          >
            <label for="Logic">Logic</label>
            <ng-container *ngIf="canEdit; else editLogic">
              <div class="select">
                <input type="text" [(ngModel)]="data.logic" />
              </div>
            </ng-container>
            <ng-template #editLogic>
              <span>{{ data.logic }}</span>
            </ng-template>
          </div>
          <div
            class="form-sub-group form-sub-group-3 form-sub-group-40 padding-left"
          >
            <label for="field">Variable</label>
            <ng-container *ngIf="canEdit; else editValue">
              <div class="select-with-delete">
                <div class="select">
                  <input type="text" [(ngModel)]="data.last_variable" />
                </div>
                <div class="delete" [ngStyle]="{ visibility: 'hidden' }">
                  <i class="far fa-trash-alt"></i>
                </div>
              </div>
            </ng-container>
            <ng-template #editValue>
              <span>{{ data.last_variable }}</span>
            </ng-template>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="data.condition_selected === 'Major'">
        <ng-container *ngFor="let row of data.majors; let i = index">
          <div class="form-group center-element">
            <div
              class="select select-size"
              [ngStyle]="{ 'margin-top': canEdit ? '11px' : '0' }"
            >
              <ng-container *ngIf="canEdit; else editlogic">
                <div class="select-wrapper">
                  <input type="text" [(ngModel)]="row.major_condition" />
                </div>
              </ng-container>
              <ng-template #editlogic>
                <span [ngStyle]="{ 'font-size': '14px' }">{{
                  row.major_condition
                }}</span>
              </ng-template>
            </div>
          </div>
          <div class="form-group">
            <div
              class="form-sub-group form-sub-group-3 form-sub-group-40 padding-right"
            >
              <label for="field" class="gutter-left">Variable</label>
              <div class="if-logic">
                <span class="if-text">If</span>
                <ng-container *ngIf="canEdit; else editField">
                  <div class="select">
                    <input type="text" [(ngModel)]="row.first_variable" />
                  </div>
                </ng-container>
                <ng-template #editField>
                  <span>{{ row.first_variable }}</span>
                </ng-template>
              </div>
            </div>
            <div
              class="form-sub-group form-sub-group-3 form-sub-group-20 padding-both"
            >
              <label for="Logic">Logic</label>
              <ng-container *ngIf="canEdit; else editLogic">
                <div class="select">
                  <input type="text" [(ngModel)]="row.logic" />
                </div>
              </ng-container>
              <ng-template #editLogic>
                <span>{{ row.logic }}</span>
              </ng-template>
            </div>
            <div
              class="form-sub-group form-sub-group-3 form-sub-group-40 padding-left"
            >
              <label for="field">Variable</label>
              <ng-container *ngIf="canEdit; else editValue">
                <div class="select-with-delete">
                  <div class="select">
                    <input type="text" [(ngModel)]="row.last_variable" />
                  </div>
                  <div class="delete" (click)="onDeleteNewRow(i)">
                    <i class="far fa-trash-alt"></i>
                  </div>
                </div>
              </ng-container>
              <ng-template #editValue>
                <span>{{ row.last_variable }}</span>
              </ng-template>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="canEdit">
          <div class="add-another-btn">
            <button (click)="onAddAnotherRow()">Add Row</button>
            <div class="group" [ngStyle]="{ width: 'calc(100% - 80px)' }">
              <label for="notes">Notes</label>
              <input type="text" id="notes" [(ngModel)]="data.notes" />
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
