<div class="step-banner">
  <div class="step-header">
    <div class="left-controls">
      <div class="step-icon">
        <img alt="condition" src="../../../../assets/pics/Condition.svg" />
      </div>
      <div class="icon-type">
        Condition
      </div>
      <div class="step-number">
        Step No. <span>{{ getStepNumber() }}</span>
      </div>
      <div class="screen-name">
        <span>Screen</span>
        <div class="select">
          <mat-select
            [(value)]="data.screen"
            placeholder="No Screen"
            [disabled]="!canEdit"
            disableOptionCentering
          >
            <mat-option
              [value]="screen.screenId"
              *ngFor="let screen of screenList"
              >{{ screen.screenName }}</mat-option
            >
          </mat-select>
        </div>
      </div>
    </div>

    <ng-container *ngIf="canEdit; else edit">
      <div class="right-controls">
        <div
          class="ctrl-btn step-edit color-green"
          (click)="onClickOnConditionOk()"
        >
          <i class="fas fa-check"></i>
        </div>
        <div
          class="ctrl-btn step-delete color-light-red"
          (click)="onCancelEdit()"
        >
          <i class="fas fa-times"></i>
        </div>
      </div>
    </ng-container>
    <ng-template #edit>
      <div class="right-controls">
        <div class="ctrl-btn step-attach" (click)="onAttachIconClick($event)">
          <ng-container *ngIf="stepData.attachment_name; else noAttachment">
            <img src="../../../../../assets/pics/attachment.svg" />
          </ng-container>
          <ng-template #noAttachment>
            <img src="../../../../../assets/pics/no_attachment.svg" />
          </ng-template>
          <div class="step-tooltip">
            <app-tooltip
              [toolTipContent]="stepData.attachment_name"
              (toolTipDownload)="onAttachmentDownload($event)"
              (toolTipDelete)="onAttachmentDelete()"
            ></app-tooltip>
          </div>
        </div>
        <div class="ctrl-btn step-edit" (click)="onClikedOnEdit()">
          <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="ctrl-btn step-delete" (click)="onDeleteStep()">
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="step-body">
    <div class="form">
      <div class="radio-group" *ngIf="canEdit">
        <mat-radio-group [(ngModel)]="data.condition_selected">
          <mat-radio-button
            [value]="condition"
            *ngFor="let condition of conditions"
            >{{ condition }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <ng-container>
        <div class="form-group">
          <div
            class="form-sub-group form-sub-group-3 form-sub-group-40 padding-right"
          >
            <label for="field" class="gutter-left">Condition</label>
            <div class="if-logic">
              <span class="if-text">If</span>
              <ng-container *ngIf="canEdit; else editField">
                <input type="text" [(ngModel)]="data.condition" />
              </ng-container>
              <ng-template #editField>
                <span>{{ data.condition }}</span>
              </ng-template>
            </div>
          </div>
          <div
            class="form-sub-group form-sub-group-3 form-sub-group-20 padding-both"
          >
            <label for="Operator">Operator</label>
            <ng-container *ngIf="canEdit; else editOperator">
              <input type="text" [(ngModel)]="data.operator" />
            </ng-container>
            <ng-template #editOperator>
              <span>{{ data.operator }}</span>
            </ng-template>
          </div>
          <div
            class="form-sub-group form-sub-group-3 form-sub-group-40 padding-left"
          >
            <label for="field">Criteria</label>
            <ng-container *ngIf="canEdit; else editCriteria">
              <input type="text" [(ngModel)]="data.criteria" />
            </ng-container>
            <ng-template #editCriteria>
              <span>{{ data.criteria }}</span>
            </ng-template>
          </div>
        </div>
      </ng-container>

      <ng-container>
        <ng-container *ngFor="let row of data.condition_blocks; let i = index">
          <div class="form-group center-element">
            <div
              class="form-sub-group form-sub-group-3 form-sub-group-20 padding-both"
            >
              <label for="logicalOperator">Logical Condition</label>
              <div class="select-size">
                <ng-container *ngIf="canEdit; else editlogic">
                  <div class="select-wrapper">
                    <mat-select
                      [(value)]="row.logical_condition"
                      placeholder="AND/OR"
                    >
                      <mat-option value="AND">AND</mat-option>
                      <mat-option value="OR">OR</mat-option>
                    </mat-select>
                  </div>
                </ng-container>
                <ng-template #editlogic>
                  <span [ngStyle]="{ 'font-size': '14px' }">
                    {{ row.logical_condition }}
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div
              class="form-sub-group form-sub-group-3 form-sub-group-40 padding-right"
            >
              <label for="field" class="gutter-left">Condition</label>
              <div class="if-logic">
                <span class="if-text">If</span>
                <ng-container *ngIf="canEdit; else editField">
                  <input type="text" [(ngModel)]="row.condition" />
                </ng-container>
                <ng-template #editField>
                  <span>{{ row.condition }}</span>
                </ng-template>
              </div>
            </div>
            <div
              class="form-sub-group form-sub-group-3 form-sub-group-20 padding-both"
            >
              <label for="Operator">Operator</label>
              <ng-container *ngIf="canEdit; else editOperator">
                <input type="text" [(ngModel)]="row.operator" />
              </ng-container>
              <ng-template #editOperator>
                <span>{{ row.operator }}</span>
              </ng-template>
            </div>
            <div
              class="form-sub-group form-sub-group-3 form-sub-group-40 padding-left"
            >
              <label for="field">Criteria</label>
              <ng-container *ngIf="canEdit; else editValue">
                <div class="select-with-delete">
                  <input type="text" [(ngModel)]="row.criteria" />
                  <div class="delete" (click)="onDeleteNewRow(i)">
                    <i class="far fa-trash-alt"></i>
                  </div>
                </div>
              </ng-container>
              <ng-template #editValue>
                <span>{{ row.criteria }}</span>
              </ng-template>
            </div>
          </div>
        </ng-container>

        <div class="form-group">
          <ng-container *ngIf="canEdit">
            <div class="add-another-btn">
              <button (click)="onAddAnotherRow()">Add Condition</button>
            </div>
          </ng-container>
          <div class="form-sub-group gutter-left">
            <label for="notes">Notes</label>
            <ng-container *ngIf="canEdit; else editNotes">
              <input type="text" [(ngModel)]="data.notes" />
            </ng-container>
            <ng-template #editNotes>
              <span>{{ data.notes }}</span>
            </ng-template>
          </div>
          <div
            class="form-sub-group"
            *ngIf="data.condition_selected === 'Minor'"
          >
            <label for="nextNoSteps" class="gutter-left"
              >Link the next no. of steps</label
            >
            <ng-container *ngIf="canEdit; else editValue" class="gutter-left">
              <div class="select" class="gutter-left">
                <input type="text" [(ngModel)]="data.next_no_of_steps" />
              </div>
            </ng-container>
            <ng-template #editValue>
              <span class="gutter-left">{{ data.next_no_of_steps }} </span>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
