.modal {
  width: 650px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba($color: #000000, $alpha: 0.3);
  position: relative;

  .close-all {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #999999;
    cursor: pointer;
    z-index: 10000;
  }
}

.grid-list-current-sprint {
  background-color: #dde5ed;
}
.modal-body {
  height: 300px;
  overflow: auto;
  padding: 20px;
}
.delete {
  color: #2a7de1;
  cursor: pointer;
}
.row {
  position: relative;
  width: 100%;
  height: 100%;
  button {
    height: 30px;
    margin: 10px;
    border: 1px solid #2a7de1;
    background-color: transparent;
    color: #2a7de1;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 15px;
    position: absolute;
    left: 20px;
  }
}
.modal-footer {
  width: 100%;
  text-align: center;

  button {
    width: 90px;
  }
  button:first-child {
    margin-right: 20px;
  }
}
.footer-position {
  position: fixed;
  bottom: 35px;
}
.warning {
  width: 400px;
  height: 220px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  p:first-child {
    top: 20px;
    font-size: 12px;
    color: #999999;
    width: 330px;
  }
  .warning-message-2 {
    top: 80px;
    font-size: 14px;
    color: #000000;
    width: 195px;
  }
  div {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 200px;
    justify-content: space-between;

    button {
      width: 90px;
      height: 30px;
    }
  }
}
.date-picker {
  position: absolute;
  top: -5px;
  left: -5px;
}
.heading {
  font-size: 14px;
  color: #999999;
  width: 100%;
  text-align: left;
  padding-left: 5px;
}

.highlight {
  font-size: 14px;
  color: black;
  width: 100%;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
}

.arrow {
  position: absolute;
  height: 30px;
  width: 35px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  top: 0;
  right: 0;

  button {
    display: block;
    outline: none;
    border: none !important;
    color: #2a7de1 !important;
    cursor: pointer !important;
    position: absolute;
    width: 100% !important;
    height: 50% !important;
    right: 0 !important;
    text-align: center !important;
    transition: all 0.1s ease !important;
    background-color: transparent !important;
  }

  button:first-child {
    top: 0 !important;
  }
  button:last-child {
    bottom: 0 !important;
  }

  button:hover {
    background: #cccccc !important;
  }
}
.p-relative {
  position: relative;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #999999;
  padding-left: 5px;
}
input[type="text"].extra-padding {
  padding-left: 25px;
}
.add-btn {
  padding-left: 20px;
}
input[type="text"].warning,
input[type="number"].warning {
  border: 1px solid #f47074 !important;
}
.validation-message {
  color: rgb(245, 117, 117);
}

form.submitted {
  input.ng-invalid {
    border: 2px solid #f47074;
  }
}

.paddingTop2px {
  padding-top: 2px;
}

.overflowHidden {
  overflow: hidden;
}

.displayInline {
  display: inline;
}

.downloadLink {
  color: #2a7de1;
  padding-left: 2px;
  cursor: pointer;
}
