<div class="modal">
  <mat-tab-group animationDuration="0">
    <!------------------------------------------------------------Import Stories Tab ------------------------------------------------------------------------------------------>
    <mat-tab label="Import Stories" >
      <div class="modal-body" #rcContainer [ngStyle]="{'overflow':'hidden'}">
        <div class="grid-list">
          <mat-grid-list cols="12" rowHeight="50px">
            <mat-grid-tile [colspan]="12">
              <span class="heading">Please download Excel template and populate the following Excel file to import
                sprints, epics and stories for this project.</span>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <span class="highlight">Download File</span>
        <br>
        <span class="heading" style="padding-top: 2px;">
          <img src="../../../assets/pics/download_icon.svg" height="23px" width="23px" style="display: inline;">
          <span style="color: #2A7DE1; padding-left: 2px; cursor: pointer;" (click)="exportToExcel()">Existing project
            as Excel template</span>
        </span>
        <div class ="upload-file" [appCanAccess]="{
          role:role, 
          permissionRequired:'Can change sprint',
          permissionList: permissions
        }">
        <span class="highlight" > Upload File</span>
        <div class="dialog-group padding-all upload height-auto">
          <div class="relative pointer">
            <button mat-stroked-button [ngStyle]="{'width':'100%'}">
              <span *ngIf="!file_name">Upload Excel File</span>
              <span *ngIf="!file_name"><small>(Max Size 200MB)</small></span>
              <span *ngIf="file_name">{{file_name}}</span>
              <span><i class="fas fa-upload"></i>CHOOSE FILE</span>
            </button>
            <input type="file" (change)="onFileSelected($event)"/>
          </div>
        </div>
        <small [ngClass]="{'validation-message':validateFileExtension===true}" *ngIf="validateFileExtension">
          <em>*Supported File Extension is .xlsx</em><br>
        </small>
        <mat-checkbox color=primary (change)="oncheckBoxChange($event.checked)" [ngClass]="{'validation-message':validateCheckBox===true}" >
        <span style="padding :2px;">Yes, I used
            Soroco Excel Template</span></mat-checkbox><br>
        <small [ngClass]="{'validation-message':validateCheckBox===true}" *ngIf="validateCheckBox">
          <em>* Please Accept by checking the checkbox.</em></small><br>
        </div>
        <div class="modal-footer footer-position">
          <button class="btn btn-blue" (click)="onUpload()" [appCanAccess]="{
            role:role, 
            permissionRequired:'Can change sprint',
            permissionList: permissions
          }">Upload</button>
          <button class="btn btn-flat-ash" (click)="onClose()">Cancel</button>
        </div>
      </div>
    </mat-tab>
    <!---------------------------------------------------------------------------------------------Epics  ------------------------------------------------------------------------>
    <mat-tab label="Epics">
      <div class="modal-body" #rcContainer>
        <div class="grid-list">
          <mat-grid-list cols="12" rowHeight="50px">
            <mat-grid-tile><span class="heading">Epic#</span></mat-grid-tile>
            <mat-grid-tile [colspan]="4"><span class="heading">Name</span></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
          </mat-grid-list>
        </div>
        <div class="content-body">
          <div [id]="rcdata.id" class="grid-list" *ngFor="let rcdata of reasonCodeConfigData; let i=index">
            <mat-grid-list cols="12" rowHeight="70px" gutterSize="10px">
              <mat-grid-tile>{{i+1}}</mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <input maxlength="100" type="text" [(ngModel)]="rcdata.name" (keyup)="onReasonCodeEdit(i)">
              </mat-grid-tile>
              <mat-grid-tile>
                <div 
                class="delete" 
                (click)="onDeleteCreatedRC(rcdata.id)"
                [appCanAccess]="{
                  role:role, 
                  permissionRequired:'Can delete epics',
                  permissionList: permissions
                }">
                  <i class="far fa-trash-alt"></i>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>

          <div class="grid-list" *ngFor="let addNewRow of addNewRowForReasonCode; let i=index">
            <mat-grid-list cols="12" rowHeight="70px" gutterSize="10px">
              <mat-grid-tile>{{reasonCodeConfigData.length+i+1}}</mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <input type="text" [(ngModel)]="addNewRow.name">
              </mat-grid-tile>
              <mat-grid-tile>
                <div 
                class="delete" 
                (click)="onDeleteRC(i)"
                [appCanAccess]="{
                  role:role, 
                  permissionRequired:'Can delete epics',
                  permissionList: permissions
                }">
                  <i class="far fa-trash-alt"></i>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>

          <div class="grid-list-footer">
            <mat-grid-list cols="1" rowHeight="50px">
              <mat-grid-tile>
                <div class="row">
                  <button 
                  (click)="onAddRC()"
                  [appCanAccess]="{
                    role:role, 
                    permissionRequired:'Can add epics',
                    permissionList: permissions
                  }">Add Epics</button>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>

      </div>
      <div class="modal-footer footer-position">
        <button 
        class="btn btn-blue" 
        (click)="onSaveAllChanges()"
        [appCanAccess]="{
          role:role, 
          permissionRequired:'Can change epics',
          permissionList: permissions
        }">Save</button>
        <button class="btn btn-flat-ash" (click)="onClose()">Cancel</button>
      </div>
    </mat-tab>

    <!----------------------------------------------------------------------------------    Sprint Tab  ------------------------------------------------------------------------>
    <mat-tab label="Sprints">
      <div class="modal-body" #sprintContainer>
        <div class="grid-list">
          <mat-grid-list cols="21" rowHeight="50px">
            <mat-grid-tile [colspan]="1"><span class="heading"></span></mat-grid-tile>
            <mat-grid-tile [colspan]="4"><span class="heading">Name</span></mat-grid-tile>
            <mat-grid-tile [colspan]="4"><span class="heading">Start Date</span></mat-grid-tile>
            <mat-grid-tile [colspan]="4"><span class="heading">Duration</span></mat-grid-tile>
            <mat-grid-tile [colspan]="4"><span class="heading">End Date</span></mat-grid-tile>
            <mat-grid-tile [colspan]="4"></mat-grid-tile>
          </mat-grid-list>
        </div>
        <div class="content-body">
          <div class="grid-list" [ngClass]="{'grid-list-current-sprint':sprintConfig.current_sprint_flag}" *ngFor="let sprintConfig of sprintConfigData; let i=index">
            <mat-grid-list cols="21" rowHeight="70px" gutterSize="10px">
              <mat-grid-tile [colspan]="1"></mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <input type="text" [(ngModel)]="sprintConfig.sprint_name" (blur)="onUpdateSprint(i)" maxlength="100">
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <div class="p-relative">
                  <input matInput type="text" class="extra-padding" (dateChange)="onDatePickerClose($event, i)" [value]="sprintConfig.start_date"
                    [matDatepicker]="picker" readonly>
                  <div class="date-picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <div class="p-relative">
                  <input type="text" [(ngModel)]="sprintConfig.duration" readonly>
                  <div class="arrow">
                    <button (click)="onArrowUpforAlreadyCreated(i)">
                      <i class="fas fa-caret-up"></i>
                    </button>
                    <button (click)="onArrowDownforAlreadyCreated(i)">
                      <i class="fas fa-caret-down"></i>
                    </button>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <input type="text" [(ngModel)]="sprintConfig.end_date" readonly>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <div 
                class="delete" 
                (click)="deleteSprint(sprintConfig.id, sprintConfig.sprint_name)"
                [appCanAccess]="{
                  role:role, 
                  permissionRequired:'Can delete sprint',
                  permissionList: permissions
                }">
                  <i class="far fa-trash-alt"></i>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
          <!--  -->

          <div class="grid-list" *ngFor="let sprintConfig of addNewRow; let i=index">
            <mat-grid-list cols="21" rowHeight="70px" gutterSize="10px">
              <mat-grid-tile [colspan]="1"></mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <input maxlength="30" type="text" [(ngModel)]="sprintConfig.sprint_name">
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <div class="p-relative">
                  <input type="text" class="extra-padding" (dateInput)="sprintConfig.start_date=$event.value"
                    [matDatepicker]="picker1" readonly placeholder="Start date">
                  <div class="date-picker">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <div class="p-relative">
                  <input type="text" [(ngModel)]="sprintConfig.duration" readonly placeholder="Weeks">
                  <div class="arrow">
                    <button (click)="onArrowUp(i)"><i class="fas fa-caret-up"></i></button>
                    <button (click)="onArrowDown(i)"><i class="fas fa-caret-down"></i></button>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <input type="text" [(ngModel)]="sprintConfig.end_date" readonly placeholder="End Date">
              </mat-grid-tile>
              <mat-grid-tile [colspan]="4">
                <div 
                class="delete" 
                (click)="onDeleteRow(i)"
                [appCanAccess]="{
                  role:role, 
                  permissionRequired:'Can delete sprint',
                  permissionList: permissions
                }">
                  <i class="far fa-trash-alt"></i>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>

          <div class="grid-list-footer">
            <mat-grid-list cols="1" rowHeight="50px">
              <mat-grid-tile>
                <div class="row">
                  <button 
                  (click)="onAddSprints(sprintContainer)"
                  [appCanAccess]="{
                    role:role, 
                    permissionRequired:'Can add sprint',
                    permissionList: permissions
                  }">Add Sprints</button>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>

      </div>
      <div class="modal-footer footer-position">
        <button 
        class="btn btn-blue" 
        (click)="onSaveAllChanges()"
        [appCanAccess]="{
          role:role, 
          permissionRequired:'Can change sprint',
          permissionList: permissions
        }">Save</button>
        <button class="btn btn-flat-ash" (click)="onClose()">Cancel</button>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Audit Log">
      
    </mat-tab> -->
  </mat-tab-group>
  <!-- <div class="heading">
    <span>Config Sprints</span>
    <span (click)="onClose()"><i class="fas fa-times"></i></span>
  </div> -->

</div>

<div class="overlay" *ngIf="displayWarningBox">
  <div class="warning">
    <p>User stories are currently assigned to this sprint. Deleting this sprint will remove the sprint from the user
      stories</p>
    <p class="warning-message-2">Are you sure you want to delete <strong>{{sprintNameToDelete}}</strong>?</p>
    <div>
      <button class="btn btn-blue" (click)="onDelete()">Yes</button>
      <button class="btn btn-flat-ash" (click)="onDoNotDelete()">No</button>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="warningBoxForCancel">
  <div class="warning">
    <!-- <p>User stories are currently assigned to this sprint. Deleting this sprint will remove the sprint from the user stories</p> -->
    <p class="warning-message-2">Some of the fields have been changed or newly created. Cancelling the current status
      will discard all changes, do you want to proceed?</p>
    <div>
      <button class="btn btn-blue" (click)="onSelectYes()">Yes</button>
      <button class="btn btn-flat-ash" (click)="warningBoxForCancel=false">No</button>
    </div>
  </div>
</div>

<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->