$box-shadow-top: 0 0 10px rgba($color: #000000, $alpha: 0.16);
$box-shadow-sidebar: 2px 0 10px rgba($color: #000000, $alpha: 0.5);
$sidebar-background-color: #252525;


button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}