<div class="modal-content tausy-warning-modal">
  <h2>Confirm</h2>

  <div class="content-message" [innerHTML]="data.message">
    <p>{{ data.message }}</p>
  </div>

  <div class="confirm-message">
    <stb-button
      class="tausy-warning-modal-yes-button"
      btnStyle="raised"
      (click)="onButtonSelected(true)"
      btnName="Yes"
      btnColor="primary"
    ></stb-button>
    <stb-button
      btnStyle="raised"
      (click)="onButtonSelected(false)"
      btnName="No"
      btnColor="accent"
    ></stb-button>
  </div>
</div>
