<form class="form">
  <div class="form-group">
    <label for="username">Email Address</label>
    <input
      class="text-box"
      type="email"
      [(ngModel)]="email"
      id="email"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Enter Valid Email Id"
    />
  </div>
  <div class="form-group">
    <button class="button button--login" (click)="forgotPassword()">
      Continue
    </button>
  </div>
  <p>{{ errorMessage }}</p>
  <div *ngIf="forgotPasswordEmailSent">
    <p>Email has been sent to the provided email id</p>
  </div>
  <div *ngIf="emailNotRegistered">
    <p>Email Id not registered</p>
  </div>
</form>
