<div class="filter-container">
  <div class="filter-body">
    <div class="form-group">
      <label for="">Priority</label>
      <div class="checkbox">
        <mat-checkbox>High</mat-checkbox>
        <mat-checkbox>Medium</mat-checkbox>
        <mat-checkbox>Low</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="filter-footer">
    <div class="btn-holder">
      <button class="btn btn-blue">Apply</button>
      <button class="btn btn-flat-ash">Cancel</button>
    </div>
  </div>
</div>