<div class="side-container">
    <div class="heading">
      <span>{{editUSData.us_name}}</span>
      <span (click)="onClose()" class="close"><i class="fas fa-times"></i></span>
    </div>
    <div class="form">
  
      <div class="form-group">
        <div class="input-container sm">
          <div class="title">U/S#</div>
          <div class="editable">
            <input type="number" placeholder="Ex: 1" [(ngModel)]="editUSData.us_number">
          </div>
        </div>
        <div class="input-container md">
          <div class="title">User Story Name</div>
          <div class="editable">
            <input type="text" placeholder="Ex: User Story 1" [(ngModel)]="editUSData.us_name">
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <div class="input-container sm">
          <div class="title">Sprint#</div>
          <div class="editable">
            <input type="text" value="123" readonly>
          </div>
        </div>
        <div class="input-container md">
          <div class="title">Sprint Name</div>
          <div class="editable">
              <colored-dropdown (optionSelected)="editUSData.sprint_name=$event.status" [options]="sprintOptions" [defaultOption]="editUSData.sprint_name?editUSData.sprint_name:'Unassigned'"></colored-dropdown>
          </div>
        </div>
      </div>
      <div class="h-divider"></div>
  
      <div class="form-group h-space-equally">
        <div class="input-container sm extra">
          <div class="title">Priority</div>
          <div class="editable">
            <colored-dropdown (optionSelected)="editUSData.priority=$event.status" [options]="priorityOptions" [defaultOption]="editUSData.priority"></colored-dropdown>
          </div>
        </div>
        <div class="input-container sm">
          <div class="title">Productivity</div>
          <div class="editable">
            <!-- <input class="text-center" type="number" placeholder="------" readonly [(ngModel)]="editUSData.dev_hrs / editUSData.ftes"> -->
            <span class="text-center">{{productivity}}</span>
          </div>
        </div>
        <div class="input-container sm">
          <div class="title">Dev Hrs</div>
          <div class="editable">
            <input type="number" placeholder="Ex: 23" (keyup)="onDevHrsUpdate($event.target.value)">
          </div>
        </div>
        <div class="input-container sm">
          <div class="title">Benefits</div>
          <div class="editable">
            <input type="number" placeholder="Ex: 3" (keyup)="onBenefitsUpdate($event.target.value)">
          </div>
        </div>
      </div>
      <div class="h-divider"></div>
  
      <div class="form-group">
        <div class="input-container md">
          <div class="title">Rules Approved</div>
          <div class="editable align-center pad-right">
            <mat-slide-toggle [checked]="editUSData.rules_approved" (change)="editUSData.rules_approved=$event.checked"></mat-slide-toggle>
          </div>
        </div>
        <div class="input-container md">
          <div class="title">Test Cases Verified</div>
          <div class="editable align-center">
            <mat-slide-toggle [checked]="editUSData.verified_test_cases" (change)="editUSData.verified_test_cases=$event.checked"></mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="h-divider"></div>
  
      <div class="form-group">
        <div class="input-container lg">
          <div class="title">Status</div>
          <div class="editable">
            <colored-dropdown (optionSelected)="editUSData.status=$event.status" [options]="statusOptions" [defaultOption]="editUSData.status"></colored-dropdown>
          </div>
        </div>
        <div class="input-container">
          <div class="title">Description</div>
          <div class="editable">
            <input type="text" placeholder="Add description here" [(ngModel)]="editUSData.notes">
          </div>
        </div>
      </div>
      <div class="h-divider"></div>
  
      <div class="form-group btn-group">
        <button class="btn btn-blue" (click)="onSaveAll()">Save Changes</button>
        <button class="btn btn-flat-ash" (click)="onClose()">Cancel</button>
      </div>
    </div>
  </div>