<div class="container" #dimensionController>
  <div class="header">
    <span>
      {{ title }}
    </span>
    <span *ngIf="extras">&nbsp;-&nbsp;</span>
    <span
      *ngIf="getCurrentSprint().length > 17; else normalSprintName"
      class="wrap-content"
      [ngStyle]="{ width: ifButtonRequired ? '30%' : '55%' }"
      matTooltip="{{ getCurrentSprint() }}"
      matTooltipPosition="right"
    >
      {{ getCurrentSprint() }}
    </span>
    <ng-template #normalSprintName>
      <span> {{ getCurrentSprint() }}</span>
    </ng-template>
    <span *ngIf="ifButtonRequired" (click)="onButtonClick()" class="extra-btn">
      &nbsp;&nbsp;| View Details <i class="far fa-eye"></i
    ></span>
    <span *ngIf="selectedSprint"> ({{ selectedSprint }})</span>
  </div>
  <div class="option" *ngIf="data.length && projectStatus">
    <span>{{ projectStatus.benefits }}</span>
    <span>Benefits</span>
  </div>
  <div class="chart" *ngIf="data.length; else message">
    <nvd3 [options]="options" [data]="data"></nvd3>
    <div class="title" *ngIf="meter && projectStatus">
      <span>{{ projectStatus.days_left }}/{{ projectStatus.total_days }}</span>
      <small>days left</small>
    </div>
  </div>
  <ng-template #message>
    <div class="message">
      <span>No data to display, please configure a sprint</span>
    </div>
  </ng-template>
</div>
