<div class="dialog" (click)="preventPropagation($event)">
  <div class="dialog-group padding-all header-banner">
    <div class="dialog-header">
      <span class="heading">
        <b>
          {{ getHeaderText() }}
        </b>
      </span>
      <span class="close" (click)="onClose()"
        ><i class="fas fa-times"></i
      ></span>
    </div>
  </div>
  <!-- TODO extract into form component -->
  <div class="horizontal-flex">
    <div class="vertical-flex">
      <div class="dialog-group padding-all top-input-width">
        <div class="input-box">
          <input
            class="tausy-project-client-name"
            id="clientName"
            type="text"
            [ngClass]="{
              'ASN-box': true,
              validators:
                formValidationFailed && !projectInfoValidators.clientName
            }"
            placeholder="Client Name"
            required
            maxlength="50"
            [(ngModel)]="project.clientName"
          />
        </div>
      </div>
      <div class="dialog-group padding-all top-input-width">
        <div class="input-box">
          <input
            class="tausy-project-automation-system-name"
            type="text"
            [ngClass]="{
              'ASN-box': true,
              validators: formValidationFailed && !projectInfoValidators.title
            }"
            placeholder="Automation System Name"
            required
            maxlength="50"
            [(ngModel)]="project.title"
          />
        </div>
      </div>
    </div>

    <div class="dialog-group upload emblem">
      <div class="relative pointer">
        <button>
          <img
            class="preview-logo"
            *ngIf="filePreview"
            [src]="filePreview"
            [alt]="filePreview"
          />
          <span class="client-logo" *ngIf="!filePreview"
            >Upload Client Logo</span
          >
          <span *ngIf="!filePreview"
            ><small>(Max Size 200px-200px)</small></span
          >
          <span *ngIf="!filePreview"
            ><i class="fas fa-download"></i>CHOOSE FILE</span
          >
        </button>

        <input
          type="file"
          class="tausy-project-edit-logo"
          (change)="onFileSelected($event)"
        />
      </div>
    </div>
  </div>

  <div class="dialog-group padding-all margin-bottom-10">
    <div class="input-box">
      <input
        class="tausy-project-charge-code"
        type="text"
        id="charge-code"
        placeholder="Charge Code"
        required
        [ngClass]="{
          validators: formValidationFailed && !projectInfoValidators.chargeCode
        }"
        maxlength="50"
        [(ngModel)]="project.chargeCode"
      />
      <ng-container>
        <input
          id="date"
          placeholder="Due Date(MM/DD/YYYY)"
          type="text"
          matInput
          [matDatepicker]="picker"
          required
          readonly
          [ngClass]="{
            validators: formValidationFailed && !projectInfoValidators.due_date
          }"
          [ngStyle]="{ border: border }"
          [value]="dueDate"
          (dateInput)="onDueDateChange($event.value)"
        />
        <div class="datepicker tausy-create-project-due-date-picker">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- TODO extract into form component -->

  <div class="tab-wrapper">
    <mat-tab-group
      class="create-container-tabs"
      (selectedTabChange)="onTabChange($event)"
      selectedIndex="selectedTabIndex"
      animationDuration="0"
    >
      <mat-tab label="Assign User">
        <div
          class="dialog-group height-auto padding-top-0 grey-background"
          id="add-assign"
        >
          <div class="input-box margin-top-10">
            <!-- TODO this could be user-search-box.component -->
            <ng-container>
              <input
                class="tausy-project-assignee-box"
                type="text"
                placeholder="Type name or email address"
                (keyup)="onKeyPress($event)"
              />
              <div class="autocomplete" *ngIf="options">
                <div
                  *ngFor="let option of options"
                  class="autocomplete-item"
                  (click)="onSelect(option)"
                >
                  <span>{{ option.name ? option.name : "--" }}</span>
                  <span class="autocomplete-item-desc">{{
                    option.email ? option.email : "--"
                  }}</span>
                </div>
              </div>
            </ng-container>
            <!-- TODO this could be user-search-box.component -->
          </div>
        </div>
        <div class="dialog-group height-auto margin-bottom-10 assignee-list">
          <ul>
            <app-assignee-card
              class="tausy-project-present-assignee-list"
              *ngFor="let user of alreadyCreatedAssignees; let i = index"
              [invalid]="formValidationFailed && !validateAssignee(user)"
              [assignee]="user"
              [changeRoleDisabled]="!canChangeRole"
              [canRemoveAssignees]="canRemoveAssignees"
              (removeAssignee)="onRemove(user.id)"
              (roleChanged)="onRoleChange($event.role, i)"
            >
            </app-assignee-card>
            <app-assignee-card
              class="tausy-project-new-created-assignee-list"
              *ngFor="let user of newlyCreatedAssignees; let i = index"
              [invalid]="formValidationFailed && !validateAssignee(user)"
              [assignee]="user"
              [changeRoleDisabled]="!canChangeRole"
              [canRemoveAssignees]="canRemoveAssignees"
              (roleChanged)="onSelectionChange($event.role, i)"
              (removeAssignee)="onRemoveListItem(i)"
            >
            </app-assignee-card>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Invite New User" [disabled]="createMode">
        <div class="add-user">
          <div
            class="horizontal-flex-2 invite-model"
            *ngFor="let invites of invitationList"
          >
            <div class="dialog-group margin-bottom-10">
              <app-invite-user-field #inviteUserToken> </app-invite-user-field>
            </div>
          </div>
          <button (click)="onAddUser()">Add New</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div
    class="dialog-group-2 padding-all fixed-bottom height-auto margin-bottom-10"
    [ngSwitch]="selectedTabIndex"
  >
    <div class="button-box" *ngSwitchCase="0">
      <button
        mat-raised-button
        color="primary"
        class="tausy-project-save-button"
        (click)="onSubmit()"
      >
        {{ getSubmitButtonText() }}
      </button>
      <button
        mat-raised-button
        class="tausy-project-cancel-button"
        (click)="onClose()"
      >
        CANCEL
      </button>
    </div>
    <div class="button-box" *ngSwitchCase="1">
      <button mat-raised-button color="primary" (click)="onSendInvitation()">
        Send Invitation
      </button>
    </div>
  </div>
</div>
