<div class="infinite-scroll" #rightPanelInfiniteScroll id="scrollable-panel">
  <div
    class="section tausy-sections-list"
    *ngFor="let sectionListItem of sectionList; let i = index"
  >
    <app-section-title
      #section
      [stepParameters]="sectionListItem"
      [sectionIndex]="i"
      (sectionPayload)="onButtonDragged($event, i)"
      (deleteStep)="onDeleteStep($event)"
      (outputChange)="onOutputChange($event)"
      (sectionChange)="onSectionChange($event)"
      [sectionId]="sectionListItem.section_id"
      (deleteSection)="onDeleteSection($event)"
      (downloadAttachment)="onDownloadAttachment($event)"
      (attachmentDelete)="onAttachmentDelete($event)"
    ></app-section-title>
  </div>
  <div
    class="section-family"
    [ngClass]="{
      'section-disabled': isCreateConditionSection || isCreationSection === true
    }"
  >
    <div
      class="add-section button tausy-add-regular-section"
      (click)="onCreateNewSection()"
    >
      <i class="fas fa-plus"></i> Regular
    </div>
    <div
      class="add-section button tausy-add-condition-section"
      [ngClass]="{
        'section-disabled':
          isCreateConditionSection || isCreationSection === true
      }"
      (click)="onCreateConditionSection()"
    >
      <i class="fas fa-plus"></i> Condition
    </div>
    <div
      class="add-section button tausy-add-branching-section branching-disabled"
    >
      <i class="fas fa-plus"></i> Branching
    </div>
  </div>
</div>
