<div class="input-box">
  <label [for]="label"
    >{{ label }}
    <span class="ng-required" *ngIf="required">*</span>
  </label>
  <div class="dropdown-wrapper">
    <mat-select
      [placeholder]="placeholder"
      (selectionChange)="selectItem($event)"
      [value]="value"
      [disabled]="disabled"
    >
      <ng-container *ngIf="options.length">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </ng-container>
    </mat-select>
  </div>
</div>
