<div class="modal">
    <mat-tab-group>
      <mat-tab label="Sprints">
        <div class="modal-body">
          <div class="grid-list">
            <mat-grid-list cols="6" rowHeight="50px">
              <mat-grid-tile><span class="heading">Serial#</span></mat-grid-tile>
              <mat-grid-tile><span class="heading">Name</span></mat-grid-tile>
              <mat-grid-tile><span class="heading">Start Date</span></mat-grid-tile>
              <mat-grid-tile><span class="heading">Duration</span></mat-grid-tile>
              <mat-grid-tile><span class="heading">End Date</span></mat-grid-tile>
              <mat-grid-tile></mat-grid-tile>
            </mat-grid-list>
          </div>
          <div class="content-body" #sprintContainer>
              <div class="grid-list" *ngFor="let sprintConfig of sprintConfigData; let i=index">
                  <mat-grid-list cols="6" rowHeight="70px" gutterSize="10px">
                    <mat-grid-tile>{{i+1}}</mat-grid-tile>
                    <mat-grid-tile>
                      <input type="text" [(ngModel)]="sprintConfig.sprint_name" (blur)="onUpdateSprint(i)">
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="p-relative">
                        <input matInput type="text" class="extra-padding" (dateChange)="onDatePickerClose($event, i)" [value]="sprintConfig.start_date" [matDatepicker]="picker" readonly>
                        <div class="date-picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </div>
                      </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="p-relative">
                        <input type="text" [(ngModel)]="sprintConfig.duration" readonly>
                        <div class="arrow">
                          <button (click)="onArrowUpforAlreadyCreated(i)">
                            <i class="fas fa-caret-up"></i>
                          </button>
                          <button (click)="onArrowDownforAlreadyCreated(i)">
                            <i class="fas fa-caret-down"></i>
                          </button>
                        </div>
                      </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <input type="text" [(ngModel)]="sprintConfig.end_date" readonly>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="delete" (click)="deleteSprint(sprintConfig.id, sprintConfig.sprint_name)">
                        <i class="far fa-trash-alt"></i>
                      </div>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
                <!--  -->
      
                <div class="grid-list" *ngFor="let sprintConfig of addNewRow; let i=index">
                  <mat-grid-list cols="6" rowHeight="70px" gutterSize="10px">
                    <mat-grid-tile>{{i+1}}</mat-grid-tile>
                    <mat-grid-tile>
                      <input type="text" [(ngModel)]="sprintConfig.sprint_name">
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="p-relative">
                        <input type="text" class="extra-padding" (dateInput)="sprintConfig.start_date=$event.value" [matDatepicker]="picker1" readonly placeholder="Start date">
                        <div class="date-picker">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </div>
                      </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="p-relative">
                        <input type="text" [(ngModel)]="sprintConfig.duration" readonly placeholder="Weeks">
                        <div class="arrow">
                          <button (click)="onArrowUp(i)"><i class="fas fa-caret-up"></i></button>
                          <button (click)="onArrowDown(i)"><i class="fas fa-caret-down"></i></button>
                        </div>
                      </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <input type="text" [(ngModel)]="sprintConfig.end_date" readonly placeholder="End Date">
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="delete" (click)="onDeleteRow(i)">
                        <i class="far fa-trash-alt"></i>
                      </div>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
      
                <div class="grid-list-footer">
                  <mat-grid-list cols="1" rowHeight="50px">
                    <mat-grid-tile>
                      <div class="row">
                        <button (click)="onAddSprints()">Add Sprints</button>
                      </div>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-blue" (click)="onSaveAllChanges()">Save</button>
          <button class="btn btn-flat-ash" (click)="onClose()">Cancel</button>
        </div>
      </mat-tab>
      <mat-tab label="Reason Code">
        <div class="modal-body">
            <div class="grid-list">
              <mat-grid-list cols="12" rowHeight="50px">
                <mat-grid-tile><span class="heading">RC#</span></mat-grid-tile>
                <mat-grid-tile [colspan]="4"><span class="heading">Name</span></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>
            </div>
            <div class="content-body">
              <div [id]="rcdata.id" class="grid-list" *ngFor="let rcdata of reasonCodeConfigData; let i=index">
                <mat-grid-list cols="12" rowHeight="70px" gutterSize="10px">
                  <mat-grid-tile>{{i+1}}</mat-grid-tile>
                  <mat-grid-tile [colspan]="4">
                    <input type="text" [(ngModel)]="rcdata.name" (keyup)="onReasonCodeEdit(i)">
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="delete" (click)="onDeleteCreatedRC(rcdata.id)">
                      <i class="far fa-trash-alt"></i>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>

              <div class="grid-list" *ngFor="let addNewRow of addNewRowForReasonCode; let i=index">
                <mat-grid-list cols="12" rowHeight="70px" gutterSize="10px">
                  <mat-grid-tile>{{i+1}}</mat-grid-tile>
                  <mat-grid-tile [colspan]="4">
                    <input type="text" [(ngModel)]="addNewRow.name">
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div class="delete" (click)="onDeleteRC(i)">
                      <i class="far fa-trash-alt"></i>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>

              <div class="grid-list-footer">
                <mat-grid-list cols="1" rowHeight="50px">
                  <mat-grid-tile>
                    <div class="row">
                      <button (click)="onAddRC()">Add Reason Code</button>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
            
        </div>
        <div class="modal-footer">
          <button class="btn btn-blue" (click)="onSaveAllChangesInRC()">Save</button>
          <button class="btn btn-flat-ash" (click)="onClose()">Cancel</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  <!-- <div class="heading">
    <span>Config Sprints</span>
    <span (click)="onClose()"><i class="fas fa-times"></i></span>
  </div> -->
  
</div>

<div class="overlay" *ngIf="displayWarningBox">
  <div class="warning">
    <p>User stories are currently assigned to this sprint. Deleting this sprint will remove the sprint from the user stories</p>
    <p class="warning-message-2">Are you sure you want to delete <strong>{{sprintNameToDelete}}</strong>?</p>
    <div>
      <button class="btn btn-blue" (click)="onDelete()">Yes</button>
      <button class="btn btn-flat-ash" (click)="onDoNotDelete()">No</button>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="warningBoxForCancel">
  <div class="warning">
    <!-- <p>User stories are currently assigned to this sprint. Deleting this sprint will remove the sprint from the user stories</p> -->
    <p class="warning-message-2">Some of the fields have been changed or newly created. Cancelling the current status will discard all changes, do you want to proceed?</p>
    <div>
      <button class="btn btn-blue" (click)="onSelectYes()">Yes</button>
      <button class="btn btn-flat-ash" (click)="warningBoxForCancel=false">No</button>
    </div>
  </div>
</div>

<ngx-spinner color="#fff" type="ball-spin-clockwise"></ngx-spinner>