/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// html, body { height: 100vh; }
*{
  box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #2A7DE1;
}
.mat-tab-label-active{
    color: #2A7DE1;
}
mat-ink-bar.mat-ink-bar{
    height: 5px;
}
::ng-deep .black-overlay{
    position: fixed !important;
}

/*
backdrop css
*/
*::-webkit-scrollbar{
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: #ECECEC; 
}
*::-webkit-scrollbar-thumb {
  background: rgb(105, 105, 105); 
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;

}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #38496D, $alpha: 0.8);
    z-index: 1000;
}
.new-sop{
    cursor: pointer;
    font-size: 20px;
}


.border{
    border-bottom: 1px solid rgba(153, 153, 153,0.3);
}
.padding-all{
    padding: 10px 15px;
}
.dialog-element{
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
.close{
    float: right;
    color: #fff;
    cursor: pointer;
}
.ASN-box{
    width: 100%;
    /* height: 40px;
    background-color: #DDE5ED;
    outline: none;
    border: 0px solid;
    padding-left: 10px;
    font-size: 22px;
    border-radius: 2px; */
}
textarea:focus, input:focus{
    outline: none;
    color: #707070;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
#charge-code{
    width: 47%;
    margin-right: 6%;
}
.relative{
    position: relative;
}
input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer !important;
}
.pointer{
    cursor: pointer !important;
    overflow: hidden;
}

.input-box label{
    font-size: 14px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #707070;
    line-height: 17px;
}
.padding-top-0{
    padding-top: 0;
}
input::placeholder{
    color: #BFBFBF;
    font-weight: 500;
}
// mat-datepicker-toggle{
//     position: absolute;
//     top: 31.5%;
//     left: 54%;
// }
.height-auto{
    height: auto;
}
.prelative{
    position: relative;
}
.center{
    text-align: center;
}
.button-box{
    display: block;
    width: 320px;
    margin: 0 auto;
}
.dialog-group .button-box button{
    width: 150px;
}
.dialog-group .button-box button:first-child{
    margin-right: 20px;
    background-color: #2A7DE1;
}
.fixed-bottom{
    position: absolute;
    bottom: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.color-red{
    background-color: red;
}
// li{
//     height: 26px;
//     width: 100%;
//     margin-bottom: 5px;
//     position: relative;
// }
// li img{
//     height: 26px;
//     width: 26px;
//     margin-right: 20px;
// }
// li span{
//     line-height: 26px;
//     font-size: 14px;
//     color: #707070;
//     position: absolute;
// }
.list-close{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.list-close i{
    color: #D1D1D1;
}
.list-close button.mat-raised-button.mat-primary{
    background-color: transparent;
}
.list-close button.mat-raised-button{
    min-width: 26px;
    padding: 0;
    line-height: 26px;
    border-radius: 50%;
    font-size: 20px;
    color: #707070;
    -webkit-box-shadow: 0;
            box-shadow: 0;
}
.height-max{
    max-height: 70px;
    overflow: auto;
}

.mat-raised-button:not([class*=mat-elevation-z]){
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
}
.button-box button:last-child{
    border: 1px solid #54585A;
}
.image-profile-pic{
    margin-right: 5px;
}

.preview-logo{
    width: 100px;
    height: 100px;
}
.upload button span{
    display: block;
}
.upload button span:last-child{
    color: #2A7DE1;
}
.upload button .client-logo{
    margin-bottom: 0px;
    
}
.color-main-blue{
    background-color: #2A7DE1;
}
#add-assign .input-box input[type="text"]{
    // width: calc(100% - 53px);
    width: 100%;
}
#add-assign .input-box button{
    width: 53px;
    height: 35px;
    text-align: center;
    outline: none;
    border: none;
    background-color: #54585A;
    color: #fff;
    cursor: pointer;
    float: right;
}

/**
  newly added
*/
.btn{
  min-width: 30px;
  min-height: 30px;
  background-color: #fff;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.btn-flat-blue{
  background-color: #fff;
  border: 1px solid #2A7DE1;
  color: #2A7DE1;
  font-weight: 700;
}
.btn-flat-grey{
  background-color: #fff;
  border: 1px solid #54585A;
  color: #54585A;
}
.btn-blue{
  background: #2A7DE1;
  color: #fff;
  border: none;
  font-weight: 700;
}
.btn-active:active{
  box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 0.3);
}
.btn-shadow{
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.3);
}
.btn-primary{
  width: 90px;
}
.btn-flat-ash{
  background-color: #EFEFEF;
  border: 0 solid;
  color: #54585A;
}

.rotate-90{
  // display: block;
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}
