/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100vh; font-family: 'Roboto', sans-serif;}
*{box-sizing: border-box;}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #eee;
    /* overflow-x: hidden; */
    /* height: 100vh; */
}
// .mat-btn{
//     background-color: #fff;
// }
// .mat-tab-header, .mat-tab-nav-bar{
//     border-bottom: 2px solid rgba(0,0,0,.12);
// }
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #2A7DE1;
}
.mat-tab-label-active{
    color: #2A7DE1;
}
mat-ink-bar.mat-ink-bar{
    height: 5px;
}
/* mat-grid-tile {
    background: lightblue;
    margin: 0;
    padding: 0;
} */
// .mat-toolbar-row, .mat-toolbar-single-row{
//     height: 125px;
// }
// mat-expansion-panel-header.mat-expansion-panel-header{
//     background-color: #fff;
// }
/* mat-expansion-panel-header.mat-expansion-panel-header:hover{
    background-color: blue;
} */
/* .mat-expansion-panel{
    background-color: red;
} */
// mat-expansion-panel .mat-expansion-panel-body{
//     padding: 0;
//     margin: 0;
// }
// .mat-expansion-panel-header:not([aria-disabled=true]){
//     cursor: auto;
// }
// mat-radio-button .mat-radio-label-content{
//     padding-right: 30px;
// }
// .mat-list .mat-list-item .mat-list-item-content{
//     padding: 0px 0px;
// }
/* .cdk-global-overlay-wrapper, .cdk-overlay-container{
    top: 36px;
} */
// .mat-tab-label-content, .mat-button-wrapper{
//     font-size: 15px;
// }

// .mat-form-field-appearance-legacy .mat-form-field-underline{
//     background-color: rgba(0,0,0,0);
// }
// .mat-form-field-appearance-legacy .mat-form-field-underline{
//     height: 0px;
// }
// .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
//     -webkit-transform: translateY(0) scale(1) perspective(100px) translateZ(0);
//     transform: translateY(0) scale(1) perspective(100px) translateZ(0);
//     visibility: hidden;
// }
// .mat-form-field-ripple{
//     width: 0%;
// }
// .mat-form-field.mat-focused .mat-form-field-ripple{
//     background-color: transparent;
// }
// .mat-form-field.mat-focused .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
//     visibility: hidden;    
// }
// mat-select.mat-select .mat-select-trigger .mat-select-value span.mat-select-placeholder::placeholder{
//     color: red;
//     background-color: red;
// }


/*
backdrop css
*/
*::-webkit-scrollbar{
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #ECECEC; 
}
*::-webkit-scrollbar-thumb {
  background: rgb(105, 105, 105); 
}
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
}
.new-sop{
    cursor: pointer;
    font-size: 20px;
}
.dialog{
    display: block;
    width: 500px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1200;
    -webkit-box-shadow: 0px 20px 50px rgba(0,0,0,.5);
            box-shadow: 0px 20px 50px rgba(0,0,0,.5);
    border-radius: 2px;
}
.dialog-group{
    display: block;
    width: 100%;
    height: 45px;
}
.border{
    border-bottom: 1px solid rgba(153, 153, 153,0.3);
}
.padding-all{
    padding: 10px 15px;
}
.dialog-element{
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
.close{
    float: right;
    color: #fff;
    cursor: pointer;
}
.ASN-box{
    width: 100%;
    /* height: 40px;
    background-color: #DDE5ED;
    outline: none;
    border: 0px solid;
    padding-left: 10px;
    font-size: 22px;
    border-radius: 2px; */
}
textarea:focus, input:focus{
    outline: none;
    color: #707070;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
#charge-code{
    width: 47%;
    margin-right: 6%;
}
.relative{
    position: relative;
}
input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer !important;
}
.pointer{
    cursor: pointer !important;
    overflow: hidden;
}

.input-box label{
    font-size: 14px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #707070;
    line-height: 17px;
}
.padding-top-0{
    padding-top: 0;
}
input::placeholder{
    color: #BFBFBF;
    font-weight: 500;
}
mat-datepicker-toggle{
    position: absolute;
    top: 31.5%;
    left: 54%;
}
.height-auto{
    height: auto;
}
.prelative{
    position: relative;
}
.center{
    text-align: center;
}
.button-box{
    display: block;
    width: 320px;
    margin: 0 auto;
}
.dialog-group .button-box button{
    width: 150px;
}
.dialog-group .button-box button:first-child{
    margin-right: 20px;
    background-color: #2A7DE1;
}
.fixed-bottom{
    position: absolute;
    bottom: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.color-red{
    background-color: red;
}
li{
    height: 26px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
li img{
    height: 26px;
    width: 26px;
    margin-right: 20px;
}
li span{
    line-height: 26px;
    font-size: 14px;
    color: #707070;
    position: absolute;
}
.list-close{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.list-close i{
    color: #D1D1D1;
}
.list-close button.mat-raised-button.mat-primary{
    background-color: transparent;
}
.list-close button.mat-raised-button{
    min-width: 26px;
    padding: 0;
    line-height: 26px;
    border-radius: 50%;
    font-size: 20px;
    color: #707070;
    -webkit-box-shadow: 0;
            box-shadow: 0;
}
.height-max{
    max-height: 73px;
    overflow: auto;
}
.height-max::-webkit-scrollbar {
    display: none;
}
.mat-raised-button:not([class*=mat-elevation-z]){
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
}
.button-box button:last-child{
    border: 1px solid #54585A;
}
.image-profile-pic{
    margin-right: 5px;
}
.upload button{
    width: 100%;
    height: 100px;
    color: #BFBFBF;
    border: 1px solid #D1D1D1;
    overflow: hidden;
}
.preview-logo{
    width: 100px;
    height: 100px;
}
.upload button span{
    display: block;
}
.upload button span:last-child{
    color: #2A7DE1;
}
.upload button .client-logo{
    margin-bottom: 0px;
    
}
.color-main-blue{
    background-color: #2A7DE1;
}
#add-assign .input-box input[type="text"]{
    width: calc(100% - 53px);
}
#add-assign .input-box button{
    width: 53px;
    height: 35px;
    text-align: center;
    outline: none;
    border: none;
    background-color: #54585A;
    color: #fff;
    cursor: pointer;
    float: right;
}

/**
  newly added
*/
.btn{
  min-width: 30px;
  min-height: 30px;
  background-color: #fff;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.btn-flat-blue{
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #2A7DE1;
  color: #2A7DE1;
  font-weight: 700;
}
.btn-flat-grey{
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #54585A;
  color: #54585A;
}
.btn-blue{
  background: #2A7DE1;
  color: #fff;
  border: none;
  font-weight: 700;
}
.btn-active:active{
  box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 0.3);
}
.btn-shadow{
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.3);
}
.btn-primary{
  width: 90px;
}
.btn-flat-ash{
  background-color: #EFEFEF;
  border: 0 solid;
  color: #54585A;
}

.rotate-90{
  // display: block;
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: rgba($color: #6CC24A, $alpha: 0.6);
}