
<div [@openClose]="isOpen ? 'open' : 'closed'" [ngClass]="{'sidebar':true, 'shadow':isOpen}">
  <div class="hamburger">
    <div class="hamburger-box" (click)="toggle()">
      <div class="hamburger-inner" [ngClass]="{'hamburger-inner-cross':isOpen}"></div>
    </div>
  </div>

  


  <div class="if-open" *ngIf="isOpen">
    <div class="header">

      <div class="header-container header-container-top-35">
        <img class="header-container-logo" [src]="clientData.logo?clientData.logo:logoPlaceholder"/>
        <div class="header-container-heading">
          <span>{{clientData?clientData.clientName:''}}</span>
        </div>
        <div class="header-container-reason-code">
          <span>{{"Reason Code 1"}} <i class="fa fa-caret-down"></i></span>
        </div>
      </div>

      <div class="header-container header-container-height-60 header-container-top-90">
        <div class="header-container-assignees">Assignee's</div>
        <div class="header-container-images">
          <img src="../../../../assets/pics/img5.jpg" alt="">
          <img src="../../../../assets/pics/img5.jpg" alt="">
          <img src="../../../../assets/pics/img5.jpg" alt="">
        </div>
      </div>

    </div>

    <div class="user-container">
      <div class="user-story">
        <span>{{'User Story Name 1'}} </span> <span><i class="fa fa-caret-down"></i></span>
      </div>
      <div class="sections" *ngIf="numberOfSections">
        <app-custom-accordian (addNewScreen)="onAddNewScreenRequest($event)"
        [screenDetails]="numberOfSection" 
        *ngFor="let numberOfSection of numberOfSections"></app-custom-accordian>
      </div>
    </div>
    
    <div class="footer">
      <div class="footer-btn" (click)="onCreateSections()">Add New Section</div>
      <div class="btn-arrow-holder">
        <div class="btn-arrow up"><i class="fas fa-angle-up"></i></div>
        <div class="btn-arrow down"><i class="fas fa-angle-down"></i></div>
      </div>
    </div>
    
  </div>
</div>

<div class="sidebar-overlay" @popupInOut *ngIf="isOpen">
  <div class="popup" *ngIf="addSectionStatus">
    <div class="popup__head">
      <span>Add New Screen</span>
      <span (click)="onCloseAddSection()"><i class="fas fa-times"></i></span>
    </div>
    <div class="popup__body">
      <input type="text" placeholder="Section Name" [(ngModel)]="createSectionName">
      <textarea name="" id="" cols="30" rows="10" placeholder="Description" [(ngModel)]="createSectionDescription"></textarea>
    </div>
    <div class="popup__footer">
      <div class="btn-horizontal">
        <div class="btn btn__blue" (click)="addSection()">ADD SECTION</div>
        <div class="btn btn__white" (click)="onCloseAddSection()">CANCEL</div>
      </div>
    </div>
  </div>
</div>


