<div class="carousal">

  <div class="image-1-holder" [ngStyle]="{'background-image':'url('+prev+')'}"></div>
  
  <div class="image-2-holder">
    <img [src]="focus" alt="">
  </div>

  <div class="footer">
    <div class="btn-add-screen">Add new screen</div>
    <label class="label-nav" for="">Navigate Screens</label>
    <div class="btn-holder">
      <div class="btn-arrow" (click)="previous()"><i class="fas fa-angle-up"></i></div>
      <div class="btn-arrow" (click)="next()"><i class="fas fa-angle-down"></i></div>
    </div>
  </div>

</div>
