.carousal{
  display: block;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
}
.image-1-holder, .image-2-holder, .footer{
  overflow: hidden;
}
.image-1-holder{
  display: block;
  background-color: #EFEFEF;
  width: 100%;
  height: 2rem;
  // border: 1px solid #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  filter: grayscale(100%);
}
.footer{
  display: block;
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: #F1F4F7;
  box-shadow: 0px -3px 11px -2px #ccc;
}
.image-2-holder{
  display: block;
  // border: 1px solid green;
  height: calc(100% - 9rem);
  margin: 1rem 10px 1rem 10px;
  background-color: #EFEFEF;
  position: relative;
}
.image-2-holder .img-upload{
  background-color: #777;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  color: #ccc;
  position: relative;
}
.image-2-holder .img-upload .img-upload-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.image-2-holder .img-upload h2{
  font-weight: 500;
  font-size: 30px;
}
.image-2-holder .img-upload input{
  width: 100%;
  height: 100%;

}
.image-2-holder-carrat{
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #54585A;
  top: 50%;
  transform: translate(0,-50%) rotate(45deg);
  right: -6px;
}
.image-2-holder img{
  width: 100%;
  height: 100%;
}
.btn-holder{
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 102px;
  height: 37px;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #2A7DE1;
}
.btn-arrow{
  display: inline-block;
  height: 35px;
  width: 50px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  background-color: transparent;
  color: #2A7DE1;
  cursor: pointer;
  overflow: hidden;
  z-index: 100;
}
.btn-arrow:first-child:hover{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #2A7DE1;
  color: #fff;
}
.btn-arrow:last-child:hover{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #2A7DE1;
  color: #fff;
}
.btn-arrow:first-child{
  border-right: 1px solid #2A7DE1;
}
.btn-add-screen{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 160px;
  height: 35px;
  background-color: #2A7DE1;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;

}
.label-nav{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 125px;
}
.top-3{
  top:  3.4375rem;
}

.popup{
  width: 900px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

  &__head{
    height: 45px;
    line-height: 45px;
    background-color: #2A7DE1;
    color: #fff;

    span:first-child{
      margin-left: 20px;
    }
    span:last-child{
      cursor: pointer;
      float: right;
      margin-right: 20px;
    }
  }

  &__side-panel{
    width: 240px;
    float: right;
    height: calc(100% - 45px);
    background-color: #EFEFEF;
    // text-align: center;
    padding: 10px 0 0 20px;

    &__heading{
      margin-bottom: 10px;
    }

    img{
      width: 100px;
      height: 71px;
      margin-bottom: -21px;
    }
    input{
      width: 200px;
      height: 30px;
      padding-left: 10px;
      border-radius: 2px;
      margin-bottom: 15px;
      border: 1px solid #D1D1D1;
    }
  }

  &__top-panel{
    height: auto;
    width: auto;
    position: relative;

    &__elements{
      position: absolute;
      top: 30px;
      left: 20px;


      label{
        margin-right: 20px;
        color: #333333;
      }

      input[type="text"]{
        width: 350px;
        height: 30px;
        padding-left: 10px;
        border: 1px solid #D1D1D1;
      }

      

      input[type="file"]{
        font-size: 17px;
        width: 100px;
        height: 30px;
        position: absolute;
        left: 83%;
        
      }
    }
    
  }
}

.preview-panel{
  width: 640px;
  height: 430px;
  
  position: absolute;
  top: 135px;
  left: 20px;

  &__box{
    width: 97%;
    height: 100%;
    background-color: #777;
    position: relative;

    .placeholder{
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      padding-top: 130px;
      transform: translate(-50%,-50%);
      text-align: center;
      img{
        width: 100px;
        height: 100px;
      }
      p{
        font-size: 20px;
        font-weight: 500;
        color: #989B9C;
      }
      input{
        position: absolute;
        top: 0;
        left: 0;
        // opacity: 1;
        font-size: 14px;
        width: 100%;
        height: 100%;
        // background-color: red;
      }
    }
  }
}
.load-preview{
  width: 100%;
  height: 100%;
}
.btn{
  width: 130px;
  height: 30px;
  background-color: #EFEFEF;
  border-radius: 2px;
  font-size: 14px;
  line-height: 30px; 
  text-align: center;
  float: right;
  color: #54585A;
  margin-left: 20px;
  cursor: pointer;

  &__blue{
    background-color: #2A7DE1;
    color: #fff;
  }
  &__white{
    background-color: #fff;
    color: #54585A;
    border: 1px solid #54585A;
  }
  &__float-none{
    float: none;
  }
  &__width{
    margin: 0;
    width: 90px;
  }
}
.margin-0{
  margin: 0 auto;
}
.btn-horizontal{
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.edit-image{
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
}
.image-2-holder:hover .edit-image{
  visibility: visible;
}