<div class="carousal">

  <div class="image-1-holder" [ngStyle]="{'background-image':'url('+prev+')'}"></div>
  
  <div class="image-2-holder">
    <div *ngIf="displayEditButton" class="btn btn__white edit-image" (click)="onEdit()">Edit</div>

    <div class="img-upload" *ngIf="imageNotAvailable; else imageAvailable">
      <div class="img-upload-container">
        <!-- <h2>Click on Add new screen to begin</h2> -->
        <div class="btn btn__lg btn__float-none margin-0" (click)="addNewScreenOverlay()">Click here to begin</div>
      </div>
    </div>

    <ng-template #imageAvailable>
      <img class="load-preview" [src]="insertImage" alt="">
    </ng-template>
  </div>

  <div class="footer">
    <div class="btn-add-screen" *ngIf="!imageNotAvailable"  (click)="addNewScreenOverlay()">Add new screen
    </div>
    <label class="label-nav" for="">Navigate Screens</label>
    <div class="btn-holder">
      <div class="btn-arrow" (click)="previous()"><i class="fas fa-angle-up"></i></div>
      <div class="btn-arrow" (click)="next()"><i class="fas fa-angle-down"></i></div>
    </div>
  </div>

</div>




<div class="overlay" *ngIf="_screenHolderService.addNewScreen" @fadeInOut>
  <div class="popup">
    <div class="popup__head">
      <span>Add New Screen</span>
      <span (click)="onClose()"><i class="fas fa-times"></i></span>
    </div>
    <div class="popup__side-panel">
      <img src="../../../../assets/pics/Group 2873.svg" alt=""><br>
      <p class="popup__side-panel__heading">Add Screen Details</p>
      <input type="text" name="" id="" placeholder="Application Name" [(ngModel)]="applicationName">
      <input type="text" name="" id="" placeholder="Screen Name" [(ngModel)]="screenName">
      <input type="text" name="" id="" placeholder="Tab Name" [(ngModel)]="tabName">
      <div class="btn-horizontal">
        <div *ngIf="ifEdit" class="btn btn__blue btn__float-none btn__width" (click)="onAdd()">ADD</div>
        <div *ngIf="!ifEdit" class="btn btn__blue btn__float-none btn__width" (click)="onSave()">SAVE</div>
        <div class="btn btn__white btn__float-none btn__width" (click)="onClose()">CANCEL</div>
      </div>
    </div>

    <div class="popup__top-panel">
      <div class="popup__top-panel__elements">
        <label for="upload">Upload Image</label>
        <input type="text" id="upload" placeholder="File location" [(ngModel)]="fileLocation">
        <input type="file" accept="image/png, image/jpeg" (change)="onFileSelected($event)">
        <div class="btn">CHOOSE FILE</div>
      </div>
    </div>


    <div class="preview-panel">
      <label for="preview">Preview</label>
      <div id="preview" class="preview-panel__box">
        <div class="placeholder"  *ngIf="previewImageStatus; else selectedImage">
          <img src="../../../../assets/pics/Group 2861.svg" alt="">
          <p>Drag & Drop Image Here</p>
          <input 
          type="file" 
          id="avatar" 
          name="avatar" 
          accept="image/png, image/jpeg" 
          (change)="onFileSelected($event)"
          />
        </div>
        <ng-template #selectedImage>
          <img class="load-preview" [src]="previewScreen" alt="">
        </ng-template>
      </div>
    </div>
  </div>
</div>