.carousal{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  // border: 1px solid red;
}
.container{
  width: 100%;
  height: calc(100% - 5rem);
  // background-color: red;
  overflow: hidden;
  position: relative;

  .slider{
    background-color: #fff;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2.5%;
    transition: bottom 0.3s ease-in-out;

    .image-holder{
      width: 100%;
      height: 450px;
      padding-bottom: 1rem;
      text-align: center;
      // line-height: 450px;
      background-color: #000000;
      position: relative;
      overflow: hidden;

      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: auto;
        // height: auto;
      }
    }

    
  }
}

@media (min-width: 1368px) {
  .container{

    .slider{

      .image-holder{
        height: 650px;
      }
    }
  }
}
.image-2-holder, .footer{
  overflow: hidden;
}

.footer{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 5rem;
  background-color: #F1F4F7;
  box-shadow: 0px -3px 11px -2px rgba(0, 0, 0, 0.2);
}
.image-2-holder{
  display: block;
  // border: 1px solid green;
  width: 100%;
  height: calc(100% - 5rem);
  background-color: #EFEFEF;
  position: absolute;
  top: 0;
  left: 0;
}
.image-2-holder .img-upload{
  background-color: #777;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  color: #ccc;
  position: relative;
}
.image-2-holder .img-upload .img-upload-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.image-2-holder .img-upload h2{
  font-weight: 500;
  font-size: 30px;
}
.image-2-holder .img-upload input{
  width: 100%;
  height: 100%;
}
.image-2-holder-carrat{
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #54585A;
  top: 50%;
  transform: translate(0,-50%) rotate(45deg);
  right: -6px;
}
.image-2-holder img{
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn-holder{
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 102px;
  height: 37px;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #2A7DE1;
}
.btn-arrow{
  display: inline-block;
  height: 35px;
  width: 50px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  background-color: transparent;
  color: #2A7DE1;
  cursor: pointer;
  overflow: hidden;
  z-index: 100;
}
.btn-arrow:first-child:hover{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #2A7DE1;
  color: #fff;
}
.btn-arrow:last-child:hover{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #2A7DE1;
  color: #fff;
}
.btn-arrow:first-child{
  border-right: 1px solid #2A7DE1;
}
.btn-add-screen{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 160px;
  height: 35px;
  background-color: #2A7DE1;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;

}
.label-nav{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 125px;
}
.top-3{
  top:  3.4375rem;
}

.popup{
  width: 900px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

  &__head{
    height: 45px;
    line-height: 45px;
    background-color: #2A7DE1;
    color: #fff;

    span:first-child{
      margin-left: 20px;
    }
    span:last-child{
      cursor: pointer;
      float: right;
      margin-right: 20px;
    }
  }

  &__side-panel{
    width: 240px;
    float: right;
    height: calc(100% - 45px);
    background-color: #EFEFEF;
    // text-align: center;
    padding: 10px 0 0 20px;

    &__heading{
      margin-bottom: 10px;
    }

    img{
      width: 100px;
      height: 71px;
      margin-bottom: -21px;
    }
    input{
      width: 200px;
      height: 30px;
      padding-left: 10px;
      border-radius: 2px;
      margin-bottom: 15px;
      border: 1px solid #D1D1D1;
    }
    input[type="text"]:focus{
      border: 1px solid #2A7DE1;
      box-shadow: 0px 0px 10px rgba(42, 125, 225, 0.3);
    }
  }

  &__top-panel{
    height: auto;
    width: auto;
    position: relative;

    &__elements{
      position: absolute;
      top: 30px;
      left: 20px;


      label{
        margin-right: 20px;
        color: #333333;
      }

      input[type="text"]{
        width: 350px;
        height: 30px;
        padding-left: 10px;
        border: 1px solid #D1D1D1;
      }

      

      input[type="file"]{
        font-size: 17px;
        width: 100px;
        height: 30px;
        position: absolute;
        left: 83%;
        
      }
    }
    
  }
}

.preview-panel{
  width: 640px;
  height: 430px;
  
  position: absolute;
  top: 135px;
  left: 20px;

  &__box{
    width: 97%;
    height: 100%;
    background-color: #777;
    position: relative;

    .placeholder{
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      padding-top: 130px;
      transform: translate(-50%,-50%);
      text-align: center;
      img{
        width: 100px;
        height: 100px;
      }
      p{
        font-size: 20px;
        font-weight: 500;
        color: #989B9C;
      }
      input{
        position: absolute;
        top: 0;
        left: 0;
        // opacity: 1;
        font-size: 14px;
        width: 100%;
        height: 100%;
        // background-color: red;
      }
    }
  }
}
.load-preview{
  width: 100%;
  height: 100%;
}
.btn{
  width: 130px;
  height: 30px;
  background-color: #EFEFEF;
  border-radius: 2px;
  font-size: 14px;
  line-height: 30px; 
  text-align: center;
  float: right;
  color: #54585A;
  margin-left: 20px;
  cursor: pointer;

  &__lg{
    width: 400px;
    height: 200px;
    font-size: 30px;
    line-height: 200px; 
    background-color: transparent;
    border: 2px dashed #ccc;
    color: #ccc;
  }

  &__blue{
    background-color: #2A7DE1;
    color: #fff;
  }
  &__white{
    background-color: #fff;
    color: #54585A;
    border: 1px solid #54585A;
  }
  &__float-none{
    float: none;
  }
  &__width{
    margin: 0;
    width: 90px;
  }
}
.margin-0{
  margin: 0 auto;
}
.btn-horizontal{
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.edit-image{
  transform: translateY(100px) scale(0);
  bottom: 0;
  right: 50%;
  position: absolute;
  z-index: 1000;
  transition: transform 0.1s ease-in;
}
.container:hover .edit-image{
  transform: translateY(0) scale(1);
}
.delay{
  transition-delay: 0.2s;
}
.animate{
  transition: transform 0.3s ease-in-out;
}
.slide-up{
  transform: translateY(-100%);
}
.slide-down{
  transform: translateY(100%);
}

.option-pan{
  height: auto;
  width: auto;
  background-color: rgba($color: #2A7DE1, $alpha: 0.8);
  color: #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  

    .list-item{
      display: flex;
      height: 50px;
      width: 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      // background-color: green;

      .icon{
        display: block;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        // background-color: red;

        i{
          font-size: 12px;
        }
      }

      .text{
        font-size: 10px;
      }
    }

    .list-item:hover{
      border-radius: 2px;
      background-color: rgba($color: #0033a1, $alpha: 0.5);
    }

    .list-item:active{
      border-radius: 2px;
      background-color: #0033a1;
    }
  
}