<div class="filter-container">
  <div class="filter-body">
    <div class="form-group">
      <div class="heading">
        Priority
      </div>
      <div class="checkbox">
        <mat-checkbox *ngFor="let priority of priorities" [(ngModel)]="__rcService.filterItems['priority$'+priority]">{{priority}}</mat-checkbox>
      </div>
    </div>
    <div class="form-group">
      <div class="heading">
        Sprint Name | <mat-slide-toggle>Hide closed sprints</mat-slide-toggle>
      </div>
      <div class="checkbox" *ngIf="sprints">
        <mat-checkbox *ngFor="let sprint of sprints; let i = index" [(ngModel)]="__rcService.filterItems['sprintName$'+sprint.sprint_name]">{{sprint.sprint_name}}</mat-checkbox>
      </div>
    </div>
    <div class="form-group">
      <div class="heading">
        Rules Approved
      </div>
      <div class="checkbox">
        <mat-radio-group [(ngModel)]="__rcService.rulesApproved">
          <mat-radio-button [value]="val" *ngFor="let val of others1;let i = index">{{val}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="form-group">
      <div class="heading">
        Test cases verified
      </div>
      <div class="checkbox">
        <mat-radio-group [(ngModel)]="__rcService.testCasesVerified">
          <mat-radio-button [value]="val" *ngFor="let val of others2;let i = index">{{val}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="form-group">
      <div class="heading">
        Status
      </div>
      <div class="checkbox">
        <mat-checkbox [(ngModel)]="__rcService.filterItems['status$'+status]" *ngFor="let status of statuss">{{status}}</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="filter-footer">
    <div class="btn-holder">
      <button class="btn btn-blue" (click)="onApplyFilter()">Apply</button>
      <button class="btn btn-flat-ash" (click)="onCloseFilter()">Cancel</button>
    </div>
  </div>
</div>