.input-box {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.4rem;
    color: #c1c1c1;

    .ng-required {
      color: rgb(252, 0, 0);
    }
  }

  input {
    width: 100%;
    height: 2rem;
    outline: none;
    border: 1px solid #d1d1d1;
    padding-left: 11px;
  }

  input:focus {
    border: 1px solid #2a7de1;
    box-shadow: 0 0 5px rgba($color: #2a7de1, $alpha: 0.25);
  }
}
