.header{
    display: block;
    line-height: 3rem;
    position: relative;
}


/* Style the list */
ul.breadcrumb {
    margin-left: 3.5rem;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 0px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li:hover {
    color: #2A7DE1;
    cursor: pointer;
}
.angle-dropdown{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 345px;
}

.save-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 35px;
  right: 40px;
  font-size: 14px;
  border-radius: 2px;
}
.save-change{
  background-color: #2A7DE1;
  color: #ffffff;
}