<div class="header">
  <ul class="breadcrumb">
    <li>Reason Code 1</li>
    <li>User Story 1</li>
    <li>Section name 1</li>
    <li></li>
  </ul>
  <span class="angle-dropdown">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon fontSet="fas" fontIcon="fa-angle-down"></mat-icon> 
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Section 1</span>
      </button>
      <button mat-menu-item>
        <span>Section 2</span>
      </button>
      <button mat-menu-item>
        <span>Section 3</span>
      </button>
    </mat-menu>
  </span>
</div>