<div class="side-container">
  <div class="heading">
    <span>Create User Story</span>
    <span (click)="onClose()" class="close"><i class="fas fa-times"></i></span>
  </div>
  <div class="form">

    <div class="form-group">
      <div class="input-container md">
        <div class="title" [ngClass]="{'warning':userStoryNumberValidator}">U/S#</div>
        <div class="editable">
          <input class="text-left" type="number" placeholder="Ex: 1" [(ngModel)]="userStoryPayload.us_number">
        </div>
      </div>
      <div class="input-container md">
        <div class="title" [ngClass]="{'warning':userStoryNameValidator}">User Story Name</div>
        <div class="editable">
          <input type="text" placeholder="Ex: User Story 1" [(ngModel)]="userStoryPayload.us_name">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-container md">
        <div class="title">Reason Code</div>
        <div class="editable">
          <normal-dropdown (optionSelected)="onSprintSelect($event)" [options]="reasonCodeOptions" [defaultOption]="'Select'"></normal-dropdown>
        </div>
      </div>
      <div class="input-container md">
        <div class="title" [ngClass]="{'warning':userStorySprintNameValidator}">Sprint Name</div>
        <div class="editable">
          <colored-dropdown (optionSelected)="onSprintSelect($event)" [options]="sprintOptions" [defaultOption]="'Select'"></colored-dropdown>
        </div>
      </div>
    </div>
    <div class="h-divider"></div>

    <div class="form-group h-space-equally">
      <div class="input-container sm extra">
        <div class="title" [ngClass]="{'warning':userStoryPriorityValidator}">Priority</div>
        <div class="editable">
          <colored-dropdown (optionSelected)="userStoryPayload.priority=$event.status" [options]="priorityOptions" [defaultOption]="'Select'"></colored-dropdown>
        </div>
      </div>
      <div class="input-container sm">
        <div class="title align-center">Productivity</div>
        <div class="editable">
          <input class="text-center no-style" type="number" placeholder="------" readonly [(ngModel)]="productivity">
          <!-- <span class="text-center">{{userStoryPayload.dev_hrs / userStoryPayload.ftes != Infinity ? (userStoryPayload.dev_hrs / userStoryPayload.ftes).toFixed(1):'------'}}</span> -->
        </div>
      </div>
      <div class="input-container sm">
        <div class="title align-center">Dev Hrs</div>
        <div class="editable">
          <input type="number" placeholder="Ex: 23"  [(ngModel)]="userStoryPayload.dev_hrs" (keyup)="onUpdateProductivity()">
        </div>
      </div>
      <div class="input-container sm">
        <div class="title align-center">Benefits</div>
        <div class="editable">
          <input type="number" placeholder="Ex: 3" [(ngModel)]="userStoryPayload.ftes" (keyup)="onUpdateProductivity()">
        </div>
      </div>
    </div>
    <div class="h-divider"></div>

    <div class="form-group">
      <div class="input-container md">
        <div class="title">Rules Approved</div>
        <div class="editable align-center pad-right">
          <mat-slide-toggle (change)="userStoryPayload.rules_approved=$event.checked"></mat-slide-toggle>
        </div>
      </div>
      <div class="input-container md">
        <div class="title">Test Cases Verified</div>
        <div class="editable align-center">
          <mat-slide-toggle (change)="userStoryPayload.verified_test_cases=$event.checked"></mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="h-divider"></div>

    <div class="form-group">
      <div class="input-container lg" [ngStyle]="{'width': '212px'}">
        <div class="title" [ngClass]="{'warning':userStoryStatusValidator}">Status</div>
        <div class="editable">
          <colored-dropdown (optionSelected)="userStoryPayload.status=$event.status" [options]="statusOptions" [defaultOption]="'Select'"></colored-dropdown>
        </div>
      </div>
      <div class="input-container">
        <div class="title" [ngClass]="{'warning':userStoryDescValidator}">Description</div>
        <div class="editable">
          <input type="text" placeholder="Add description here" [(ngModel)]="userStoryPayload.notes">
        </div>
      </div>
    </div>
    <div class="h-divider"></div>
    <div class="form-group">
      <div class="input-container md">
        <div class="title">Planned Delivery</div>
        <div class="editable relative">
          <input matInput type="text" placeholder="Start Date" [matDatepicker]="etd" (dateChange)="onDatePickerClosePD($event)" [value]="userStoryPayload.planned_delivery" [ngStyle]="{'padding-left': '30px'}">
          <div class="etd-date-picker">
            <mat-datepicker-toggle matSuffix [for]="etd"></mat-datepicker-toggle>
            <mat-datepicker #etd></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="input-container md">
        <div class="title">Revised Delivery</div>
        <div class="editable relative">
          <input type="text" placeholder="None" (dateChange)="onDatePickerCloseRD($event)" [value]="userStoryPayload.revised_delivery" [matDatepicker]="petd" [ngStyle]="{'padding-left': '30px'}">
          <div class="etd-date-picker">
            <mat-datepicker-toggle matSuffix [for]="petd"></mat-datepicker-toggle>
            <mat-datepicker #petd></mat-datepicker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-container lg">
        <div class="title" [ngClass]="{'warning':userStoryStatusValidator}">ETD</div>
        <div class="editable">
          <input type="text" placeholder="Start Date" [(ngModel)]="userStoryPayload.notes">
        </div>
        
      </div>
      <div class="input-container">
        <div class="title" [ngClass]="{'warning':userStoryDescValidator}">Revised ETD</div>
        <div class="editable">
          <input type="text" placeholder="None" [(ngModel)]="userStoryPayload.notes">
        </div>
      </div>
    </div>
    <div class="h-divider"></div>

    <div class="form-group btn-group">
      <button class="btn btn-blue" (click)="onCreate()">Save Changes</button>
      <button class="btn btn-flat-ash" (click)="onClose()">Cancel</button>

      <span class="message" *ngIf="userStoryNumberValidator || userStoryNameValidator || userStoryPriorityValidator || userStorySprintNameValidator || userStoryStatusValidator || userStoryDescValidator">Please enter the mandatory fields</span>
    </div>
  </div>
</div>