<div class="container">
  <table>
    <thead>
      <tr>
        <th class="table-header">Sprint#</th>
        <th class="table-header">U/S#</th>
        <th class="table-header">User Story Name</th>
        <th class="table-header">Priority</th>
        <th class="table-header">Rules Approved</th>
        <th class="table-header">Verified Test Cases</th>
        <th class="table-header">FTE</th>
        <th class="table-header">Dev Hrs</th>
        <th class="table-header">Notes</th>
        <th class="table-header">Status</th>
        <th class="table-header">
          <button class="btn btn-flat-blue" (click)="onCreateUserStory()" [ngStyle]="{'width':'110px'}">CREATE U/S</button>
        </th>
      </tr>
    </thead>

    <tbody>
<!-- CREATE USER STORY -->
      <tr class="editable-row" *ngIf="createUserStory">
        <!-- Sprint -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '70px'}" class="p-center">
            <app-select [placeholder]="'#'" [objectOptions]="sprint" (optionSelected)="onChangeSprint($event)"></app-select>
          </div>
        </td>
        <!-- User Story number -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '70px'}" class="p-center">
            <input class="text-box" type="text" placeholder="Number" [(ngModel)]="userStory.us_number">
          </div>
        </td>
        <!-- User Story name -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '100px'}" class="p-center">
            <input class="text-box" type="text" placeholder="U/S Name" [(ngModel)]="userStory.us_name">
          </div>
        </td>
        <!-- Priority -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '70px'}" class="p-center">
            <app-select [placeholder]="'Low'" [options]="priority" (optionSelected)="onChangePriority($event)"></app-select>
          </div>
        </td>
        <!-- Rules approved -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '100px'}" class="p-center">
            <app-select [placeholder]="'No'" [options]="rulesApproved" (optionSelected)="onChangeRulesApp($event)"></app-select>
          </div>
        </td>
        <!-- Verified test cases -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '100px'}" class="p-center">
            <app-select [placeholder]="'No'" [options]="rulesApproved" (optionSelected)="onChangeVTC($event)"></app-select>
          </div>
        </td>
        <!-- FTE -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '70px'}" class="p-center">
            <input class="text-box" type="text" placeholder="Time" [(ngModel)]="userStory.ftes">
          </div>
        </td>
        <!-- Dev Hrs -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '70px'}" class="p-center">
            <input class="text-box" type="text" placeholder="Time" [(ngModel)]="userStory.dev_hrs">
          </div>
        </td>
        <!-- Notes -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '100px'}" class="p-center">
            <input class="text-box" type="text" placeholder="Notes" maxlength="100" [(ngModel)]="userStory.notes">
          </div>
        </td>
        <!-- Status -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '100px'}" class="p-center">
            <app-select [placeholder]="'Status'" [options]="status" (optionSelected)="onChangeStatus($event)"></app-select>
          </div>
        </td>
        <!-- Buttons -->
        <td class="table-header p-relative">
          <div [ngStyle]="{'width': '100%'}" class="p-center flex">
            <button class="btn btn-blue btn-flat-blue btn-lg clearfill" (click)="onCreate()">CREATE</button>
            <button class="btn btn-flat-grey btn-sm" (click)="onCreateUserStory()"><i class="fas fa-times"></i></button>
          </div>
        </td>
      </tr>
<!-- EDIT USER STORY -->
      <ng-container *ngFor="let data of _tableService.userStories; let i = index">
        <tr [id]="data.id" *ngIf="id!=data.id; else edit">
          <td>{{data.sprint_id}}</td>
          <td>{{data.us_number}}</td>
          <td>{{data.us_name}}</td>
          <td>{{data.priority}}</td>
          <td>{{data.rules_approved}}</td>
          <td>{{data.verified_test_cases}}</td>
          <td>{{data.ftes}}</td>
          <td>{{data.dev_hrs}}</td>
          <td>{{data.notes}}</td>
          <td>{{data.status}}</td>
          <td class="table-header p-relative">

            <div [ngStyle]="{'width': '100%'}" class="p-center flex">

              <button class="btn btn-flat-blue btn-lg clearfill" [routerLink]="['/projects/add-steps', 1]">
                <!-- <img class="steps" src="../../../../assets/pics/Group 3090.svg" alt="add steps"> -->
                <i class="far fa-plus-square"></i>STEP
              </button>

              <button class="rotate-90" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onEdit(data.id)">
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="onCallConfirm(data)">
                  <span>Delete</span>
                </button>
                <button mat-menu-item (click)="onMove(data.id)">
                  <span>Move</span>
                </button>
              </mat-menu>

            </div>
          </td>
        </tr>
        <ng-template #edit>
          <tr>
            <!-- Sprint -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '70px'}" class="p-center">
                <app-select [placeholder]="'#'" [objectOptions]="sprint" [value]="data.sprint_id" (optionSelected)="onEditSprint($event)"></app-select>
              </div>
            </td>
            <!-- User Story number -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '70px'}" class="p-center">
                <input class="text-box" type="text" placeholder="Number" [(ngModel)]="userStory.us_number">
              </div>
            </td>
            <!-- User Story name -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '100px'}" class="p-center">
                <input class="text-box" type="text" placeholder="U/S Name" [(ngModel)]="userStory.us_name">
              </div>
            </td>
            <!-- Priority -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '70px'}" class="p-center">
                <app-select [placeholder]="'Low'" [options]="priority" [value]="data.priority" (optionSelected)="onChangePriority($event)"></app-select>
              </div>
            </td>
            <!-- Rules approved -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '100px'}" class="p-center">
                <app-select [placeholder]="'No'" [options]="rulesApproved" [value]="data.rules_approved" (optionSelected)="onChangeRulesApp($event)"></app-select>
              </div>
            </td>
            <!-- Verified test cases -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '100px'}" class="p-center">
                <app-select [placeholder]="'No'" [options]="rulesApproved" [value]="data.verified_test_cases" (optionSelected)="onChangeVTC($event)"></app-select>
              </div>
            </td>
            <!-- FTE -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '70px'}" class="p-center">
                <input class="text-box" type="text" placeholder="Time" [(ngModel)]="userStory.ftes">
              </div>
            </td>
            <!-- Dev Hrs -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '70px'}" class="p-center">
                <input class="text-box" type="text" placeholder="Time" [(ngModel)]="userStory.dev_hrs">
              </div>
            </td>
            <!-- Notes -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '100px'}" class="p-center">
                <input class="text-box" type="text" placeholder="Notes" maxlength="100" [(ngModel)]="userStory.notes">
              </div>
            </td>
            <!-- Status -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '100px'}" class="p-center">
                <app-select [placeholder]="'Status'" [options]="status" [value]="data.status" (optionSelected)="onChangeStatus($event)"></app-select>
              </div>
            </td>
            <!-- Buttons -->
            <td class="table-header p-relative">
              <div [ngStyle]="{'width': '100%'}" class="p-center flex">
                <button class="btn btn-flat-blue btn-lg clearfill" (click)="onSaveUserStory(data.id, data.sprint_id)">SAVE</button>
                <button class="btn btn-flat-grey btn-sm" (click)="onClose()"><i class="fas fa-times"></i></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </ng-container>
      
    </tbody>
  </table>
</div>

<div class="overlay" *ngIf="confirmDelete">
  <div class="confirm-box">
    <div class="heading">
      <p>Are you sure you want to delete 
        <b>{{userStoryToDelete.us_name}}</b>
      </p>
    </div>
    <div class="confirm-buttons">
      <button class="btn btn-flat-blue btn-blue" (click)="onDelete(userStoryToDelete.id)">OK</button>
      <button class="btn btn-flat-grey" (click)="onConfirmCancel()">CANCEL</button>
    </div>
  </div>
</div>